.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.856445;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.873535;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v2{vertical-align:-96.031680px;}
.v1{vertical-align:-2.531200px;}
.v0{vertical-align:0.000000px;}
.ls1f{letter-spacing:-9.859680px;}
.ls4{letter-spacing:-6.240000px;}
.ls20{letter-spacing:-5.771520px;}
.ls7{letter-spacing:-5.554080px;}
.lsf{letter-spacing:-4.608000px;}
.ls9{letter-spacing:-3.816000px;}
.ls17{letter-spacing:-1.761600px;}
.ls14{letter-spacing:-1.233120px;}
.ls15{letter-spacing:-1.006560px;}
.ls1c{letter-spacing:-0.881760px;}
.ls1e{letter-spacing:-0.240480px;}
.ls11{letter-spacing:-0.240000px;}
.ls22{letter-spacing:-0.223680px;}
.ls12{letter-spacing:-0.216000px;}
.ls1b{letter-spacing:-0.160320px;}
.lse{letter-spacing:-0.144000px;}
.ls8{letter-spacing:-0.127680px;}
.ls16{letter-spacing:-0.111840px;}
.ls3{letter-spacing:-0.096000px;}
.ls1d{letter-spacing:-0.080160px;}
.ls0{letter-spacing:0.000000px;}
.lsb{letter-spacing:0.048000px;}
.ls1{letter-spacing:0.072000px;}
.ls5{letter-spacing:0.096000px;}
.ls2{letter-spacing:0.144000px;}
.lsd{letter-spacing:0.160320px;}
.ls10{letter-spacing:0.192000px;}
.lsa{letter-spacing:0.216000px;}
.ls18{letter-spacing:0.223680px;}
.lsc{letter-spacing:0.240000px;}
.ls1a{letter-spacing:0.240480px;}
.ls6{letter-spacing:0.255360px;}
.ls19{letter-spacing:1.523040px;}
.ls13{letter-spacing:353.952000px;}
.ls21{letter-spacing:1131.458400px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws5{word-spacing:-54.000000px;}
.ws36{word-spacing:-25.275840px;}
.ws35{word-spacing:-24.269280px;}
.ws6{word-spacing:-23.904000px;}
.ws3e{word-spacing:-20.280480px;}
.ws23{word-spacing:-20.200320px;}
.ws40{word-spacing:-20.040000px;}
.ws3b{word-spacing:-19.959840px;}
.ws3f{word-spacing:-19.879680px;}
.ws3a{word-spacing:-19.158240px;}
.ws31{word-spacing:-18.216000px;}
.ws2f{word-spacing:-17.856000px;}
.ws32{word-spacing:-17.784000px;}
.ws7{word-spacing:-17.760000px;}
.ws19{word-spacing:-15.960000px;}
.ws10{word-spacing:-15.832320px;}
.ws3d{word-spacing:-14.268480px;}
.ws1a{word-spacing:-11.088000px;}
.ws1b{word-spacing:-10.992000px;}
.ws3c{word-spacing:-10.180320px;}
.ws51{word-spacing:-2.565120px;}
.ws50{word-spacing:-1.683360px;}
.ws21{word-spacing:-1.656000px;}
.ws46{word-spacing:-1.523040px;}
.ws1e{word-spacing:-1.488000px;}
.ws43{word-spacing:-1.442880px;}
.ws27{word-spacing:-1.440000px;}
.ws22{word-spacing:-1.368000px;}
.ws33{word-spacing:-1.224000px;}
.ws47{word-spacing:-1.202400px;}
.ws4a{word-spacing:-1.122240px;}
.ws34{word-spacing:-1.080000px;}
.ws37{word-spacing:-1.056960px;}
.ws9{word-spacing:-1.056000px;}
.ws4c{word-spacing:-1.042080px;}
.ws4f{word-spacing:-0.961920px;}
.wsc{word-spacing:-0.829920px;}
.ws1d{word-spacing:-0.816000px;}
.ws24{word-spacing:-0.801600px;}
.ws49{word-spacing:-0.721440px;}
.ws14{word-spacing:-0.720000px;}
.ws4e{word-spacing:-0.641280px;}
.ws2c{word-spacing:-0.574560px;}
.ws39{word-spacing:-0.528480px;}
.ws2b{word-spacing:-0.528000px;}
.ws8{word-spacing:-0.480000px;}
.ws15{word-spacing:-0.432000px;}
.wsf{word-spacing:-0.383040px;}
.ws28{word-spacing:-0.336000px;}
.ws41{word-spacing:-0.335520px;}
.ws12{word-spacing:-0.255360px;}
.ws48{word-spacing:-0.240480px;}
.ws20{word-spacing:-0.216000px;}
.ws4d{word-spacing:-0.160320px;}
.ws30{word-spacing:-0.144000px;}
.wsb{word-spacing:-0.127680px;}
.wsa{word-spacing:-0.096000px;}
.ws25{word-spacing:-0.072000px;}
.ws1f{word-spacing:-0.048000px;}
.ws1{word-spacing:0.000000px;}
.ws4{word-spacing:0.072000px;}
.ws45{word-spacing:0.080160px;}
.ws11{word-spacing:0.127680px;}
.ws3{word-spacing:0.144000px;}
.ws4b{word-spacing:0.160320px;}
.ws16{word-spacing:0.216000px;}
.ws38{word-spacing:0.223680px;}
.ws2a{word-spacing:0.240000px;}
.ws44{word-spacing:0.240480px;}
.ws42{word-spacing:0.320640px;}
.wsd{word-spacing:0.383040px;}
.ws29{word-spacing:0.528000px;}
.ws2{word-spacing:0.671040px;}
.ws2d{word-spacing:0.720000px;}
.ws0{word-spacing:0.799200px;}
.ws17{word-spacing:0.829920px;}
.ws52{word-spacing:0.894720px;}
.ws18{word-spacing:1.340640px;}
.ws1c{word-spacing:1.532160px;}
.ws2e{word-spacing:1.787520px;}
.ws13{word-spacing:3.816000px;}
.ws26{word-spacing:4.608000px;}
.wse{word-spacing:5.554080px;}
._d{margin-left:-9.795552px;}
._5{margin-left:-8.640000px;}
._2{margin-left:-6.816000px;}
._6{margin-left:-5.547696px;}
._7{margin-left:-3.523344px;}
._0{margin-left:-2.173824px;}
._1{margin-left:-1.101600px;}
._3{width:1.152000px;}
._8{width:2.368848px;}
._9{width:3.837600px;}
._c{width:5.230176px;}
._4{width:6.240000px;}
._b{width:9.875712px;}
._a{width:10.983648px;}
.fc2{color:rgb(0,0,0);}
.fc3{color:rgb(46,117,182);}
.fc1{color:rgb(21,49,83);}
.fc4{color:rgb(255,255,255);}
.fc0{color:rgb(32,66,90);}
.fs6{font-size:48.000000px;}
.fs5{font-size:63.840000px;}
.fs2{font-size:72.000000px;}
.fs7{font-size:80.160000px;}
.fs4{font-size:96.000000px;}
.fs1{font-size:111.840000px;}
.fs0{font-size:159.840000px;}
.fs8{font-size:176.160000px;}
.fs3{font-size:216.000000px;}
.y62{bottom:-4.809400px;}
.y67{bottom:-3.672200px;}
.y7b{bottom:-3.109700px;}
.y6{bottom:0.000000px;}
.y3{bottom:3.000000px;}
.ybe{bottom:3.480000px;}
.y6f{bottom:4.549900px;}
.y48{bottom:5.000000px;}
.ya6{bottom:5.500000px;}
.y5{bottom:7.051400px;}
.y8e{bottom:7.500000px;}
.y38{bottom:8.714100px;}
.y31{bottom:8.957080px;}
.yb{bottom:11.500000px;}
.y5b{bottom:12.107640px;}
.y61{bottom:14.390960px;}
.y66{bottom:15.527920px;}
.y82{bottom:15.720720px;}
.y7a{bottom:16.091020px;}
.y92{bottom:16.200000px;}
.y1a{bottom:17.070760px;}
.y6e{bottom:23.750720px;}
.ybd{bottom:27.329520px;}
.y30{bottom:28.156960px;}
.y4{bottom:28.651400px;}
.y0{bottom:30.000000px;}
.y37{bottom:30.314100px;}
.y5a{bottom:31.307520px;}
.y60{bottom:33.590840px;}
.y65{bottom:34.727800px;}
.y81{bottom:34.920600px;}
.y79{bottom:35.290900px;}
.y19{bottom:36.270640px;}
.y91{bottom:37.800000px;}
.y6d{bottom:42.950600px;}
.y3a{bottom:43.072080px;}
.y8d{bottom:43.320360px;}
.y2f{bottom:47.356840px;}
.ycf{bottom:48.500000px;}
.y59{bottom:50.507400px;}
.ybc{bottom:51.337440px;}
.y36{bottom:51.914100px;}
.y5f{bottom:52.790720px;}
.y64{bottom:53.927800px;}
.y80{bottom:54.120480px;}
.y78{bottom:54.490780px;}
.y18{bottom:55.470520px;}
.ya8{bottom:56.500000px;}
.y90{bottom:59.400000px;}
.y6c{bottom:62.150480px;}
.y8c{bottom:62.520240px;}
.y2e{bottom:66.556720px;}
.y39{bottom:67.080000px;}
.ye{bottom:68.520240px;}
.y58{bottom:69.707280px;}
.y5e{bottom:71.990600px;}
.y63{bottom:73.127800px;}
.y7f{bottom:73.320360px;}
.y35{bottom:73.514100px;}
.y77{bottom:73.690660px;}
.y17{bottom:74.670400px;}
.ybb{bottom:75.345360px;}
.y8f{bottom:81.000000px;}
.y6b{bottom:81.350360px;}
.y8b{bottom:81.720120px;}
.y2d{bottom:85.756600px;}
.yd{bottom:87.720120px;}
.y57{bottom:88.907160px;}
.y7e{bottom:92.520240px;}
.y76{bottom:92.890540px;}
.yba{bottom:99.353280px;}
.y27{bottom:99.720720px;}
.y6a{bottom:100.550240px;}
.y8a{bottom:100.920000px;}
.y2c{bottom:104.956480px;}
.yc{bottom:106.920000px;}
.y56{bottom:108.107040px;}
.y7d{bottom:111.720120px;}
.y75{bottom:112.090420px;}
.y26{bottom:118.920600px;}
.y69{bottom:119.750120px;}
.yb9{bottom:123.361200px;}
.y2b{bottom:124.156360px;}
.y12{bottom:125.345760px;}
.y55{bottom:127.306920px;}
.y7c{bottom:130.920000px;}
.y74{bottom:131.290300px;}
.y16{bottom:133.320360px;}
.y25{bottom:138.120480px;}
.y68{bottom:138.950000px;}
.y2a{bottom:143.356240px;}
.y11{bottom:144.545640px;}
.y51{bottom:145.320960px;}
.y54{bottom:146.506800px;}
.yb8{bottom:147.369120px;}
.ybf{bottom:147.500000px;}
.y15{bottom:152.520240px;}
.y24{bottom:157.320360px;}
.ycd{bottom:159.377040px;}
.y29{bottom:162.556120px;}
.y10{bottom:163.745520px;}
.y50{bottom:164.520840px;}
.y73{bottom:164.926160px;}
.ya5{bottom:168.593920px;}
.yb7{bottom:171.377040px;}
.y14{bottom:171.720120px;}
.y23{bottom:176.520240px;}
.y28{bottom:181.756000px;}
.yf{bottom:182.945400px;}
.ycc{bottom:183.384960px;}
.y4f{bottom:183.720720px;}
.y72{bottom:184.126040px;}
.y13{bottom:190.920000px;}
.y2{bottom:192.240000px;}
.yb6{bottom:195.384960px;}
.y22{bottom:195.720120px;}
.y4e{bottom:202.920600px;}
.y71{bottom:203.325920px;}
.ycb{bottom:207.392880px;}
.ya4{bottom:208.800400px;}
.y9c{bottom:210.600000px;}
.y21{bottom:214.920000px;}
.yb5{bottom:219.392880px;}
.y4d{bottom:222.120480px;}
.y70{bottom:222.525800px;}
.yca{bottom:231.400800px;}
.y9b{bottom:232.200000px;}
.y4c{bottom:241.320360px;}
.yb4{bottom:243.400800px;}
.ya3{bottom:249.118720px;}
.y9a{bottom:253.800000px;}
.y5d{bottom:255.277300px;}
.yc9{bottom:255.408720px;}
.y4b{bottom:260.520240px;}
.y9e{bottom:263.482500px;}
.ya{bottom:264.840000px;}
.yb3{bottom:267.408720px;}
.y5c{bottom:269.677300px;}
.y99{bottom:275.400000px;}
.y47{bottom:279.000000px;}
.yc8{bottom:279.416640px;}
.y4a{bottom:279.720120px;}
.y9d{bottom:285.082500px;}
.y20{bottom:287.400000px;}
.ya2{bottom:289.325200px;}
.y1{bottom:289.685000px;}
.yb2{bottom:291.416640px;}
.y9{bottom:293.640000px;}
.y34{bottom:296.305700px;}
.y98{bottom:297.000000px;}
.y49{bottom:298.920000px;}
.y46{bottom:300.600000px;}
.yc7{bottom:303.424560px;}
.y1f{bottom:309.000000px;}
.y33{bottom:310.705700px;}
.yb1{bottom:315.424560px;}
.y97{bottom:318.600000px;}
.y45{bottom:322.200000px;}
.y8{bottom:322.440000px;}
.y32{bottom:325.105700px;}
.yc6{bottom:327.432480px;}
.y1e{bottom:329.160000px;}
.ya1{bottom:329.531680px;}
.y41{bottom:339.000000px;}
.yb0{bottom:339.432480px;}
.y89{bottom:339.600000px;}
.y96{bottom:340.200000px;}
.y1d{bottom:343.560000px;}
.y44{bottom:343.800000px;}
.yc5{bottom:351.440400px;}
.y7{bottom:358.200000px;}
.y1c{bottom:359.400000px;}
.y95{bottom:361.800000px;}
.yaf{bottom:363.440400px;}
.y43{bottom:365.400000px;}
.ya0{bottom:369.850000px;}
.yc4{bottom:375.448320px;}
.y1b{bottom:381.000000px;}
.y94{bottom:383.400000px;}
.y42{bottom:387.000000px;}
.yae{bottom:387.448320px;}
.yc3{bottom:399.456240px;}
.y93{bottom:405.000000px;}
.y40{bottom:406.920600px;}
.yad{bottom:411.456240px;}
.y88{bottom:412.920600px;}
.y3f{bottom:426.120480px;}
.y87{bottom:432.120480px;}
.yac{bottom:435.464160px;}
.yce{bottom:438.500000px;}
.y3e{bottom:445.320360px;}
.yc2{bottom:447.472080px;}
.y86{bottom:451.320360px;}
.yab{bottom:459.472080px;}
.y9f{bottom:461.254900px;}
.y3d{bottom:464.520240px;}
.y53{bottom:465.171720px;}
.y85{bottom:470.520240px;}
.yc1{bottom:471.480000px;}
.ya7{bottom:482.880100px;}
.yaa{bottom:483.480000px;}
.y3c{bottom:483.720120px;}
.y52{bottom:484.371600px;}
.y84{bottom:489.720120px;}
.yc0{bottom:497.400000px;}
.y3b{bottom:502.920000px;}
.yd0{bottom:503.400000px;}
.y83{bottom:508.920000px;}
.ya9{bottom:509.400000px;}
.hf{height:32.812500px;}
.h5{height:48.972656px;}
.h12{height:49.218750px;}
.hd{height:53.250000px;}
.hb{height:70.822500px;}
.h3{height:76.453125px;}
.h16{height:77.763750px;}
.hc{height:79.875000px;}
.h14{height:82.441406px;}
.h10{height:88.927500px;}
.h1b{height:89.500000px;}
.h9{height:106.500000px;}
.h2{height:109.265625px;}
.h8{height:109.921875px;}
.h15{height:120.421875px;}
.h19{height:124.072500px;}
.h7{height:239.625000px;}
.h1{height:362.500000px;}
.h1a{height:380.500000px;}
.h18{height:387.500000px;}
.h17{height:426.000000px;}
.h1c{height:485.500000px;}
.h6{height:503.500000px;}
.ha{height:514.500000px;}
.h13{height:516.500000px;}
.he{height:529.000000px;}
.h11{height:535.000000px;}
.h4{height:537.000000px;}
.h0{height:540.000000px;}
.w1{width:399.000000px;}
.w3{width:445.500000px;}
.w8{width:649.000000px;}
.w6{width:698.000000px;}
.w4{width:700.500000px;}
.wa{width:708.500000px;}
.w9{width:709.000000px;}
.w7{width:712.000000px;}
.w5{width:714.000000px;}
.w2{width:718.500000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x18{left:2.420500px;}
.x1f{left:6.000000px;}
.x13{left:7.200000px;}
.x33{left:10.500000px;}
.x20{left:13.200000px;}
.xc{left:18.000000px;}
.x7{left:19.200000px;}
.xe{left:43.200100px;}
.xa{left:46.663900px;}
.x24{left:56.700000px;}
.x28{left:60.000000px;}
.x1c{left:61.200000px;}
.x23{left:73.200000px;}
.xf{left:91.200000px;}
.x27{left:97.198800px;}
.x16{left:103.200000px;}
.x8{left:115.390900px;}
.x2a{left:117.480000px;}
.x26{left:128.724960px;}
.x5{left:132.000000px;}
.x29{left:156.600000px;}
.x3{left:162.000000px;}
.x32{left:166.200000px;}
.x21{left:199.200000px;}
.x1{left:230.212500px;}
.x1d{left:247.200000px;}
.x6{left:259.200000px;}
.x1a{left:271.200000px;}
.x2c{left:273.952440px;}
.x31{left:283.411320px;}
.x2d{left:290.505480px;}
.x30{left:294.333120px;}
.x2f{left:296.617680px;}
.x2b{left:298.301040px;}
.x2e{left:304.293000px;}
.x25{left:315.441840px;}
.xd{left:329.839200px;}
.x15{left:331.200000px;}
.x4{left:343.200000px;}
.x2{left:356.690000px;}
.x19{left:362.420500px;}
.xb{left:366.705000px;}
.x17{left:373.363800px;}
.x22{left:394.752700px;}
.x14{left:395.920200px;}
.x12{left:428.328680px;}
.x10{left:439.200000px;}
.x9{left:463.200000px;}
.x1e{left:476.642700px;}
.x11{left:519.170000px;}
.x1b{left:523.221700px;}
@media print{
.v2{vertical-align:-128.042240pt;}
.v1{vertical-align:-3.374933pt;}
.v0{vertical-align:0.000000pt;}
.ls1f{letter-spacing:-13.146240pt;}
.ls4{letter-spacing:-8.320000pt;}
.ls20{letter-spacing:-7.695360pt;}
.ls7{letter-spacing:-7.405440pt;}
.lsf{letter-spacing:-6.144000pt;}
.ls9{letter-spacing:-5.088000pt;}
.ls17{letter-spacing:-2.348800pt;}
.ls14{letter-spacing:-1.644160pt;}
.ls15{letter-spacing:-1.342080pt;}
.ls1c{letter-spacing:-1.175680pt;}
.ls1e{letter-spacing:-0.320640pt;}
.ls11{letter-spacing:-0.320000pt;}
.ls22{letter-spacing:-0.298240pt;}
.ls12{letter-spacing:-0.288000pt;}
.ls1b{letter-spacing:-0.213760pt;}
.lse{letter-spacing:-0.192000pt;}
.ls8{letter-spacing:-0.170240pt;}
.ls16{letter-spacing:-0.149120pt;}
.ls3{letter-spacing:-0.128000pt;}
.ls1d{letter-spacing:-0.106880pt;}
.ls0{letter-spacing:0.000000pt;}
.lsb{letter-spacing:0.064000pt;}
.ls1{letter-spacing:0.096000pt;}
.ls5{letter-spacing:0.128000pt;}
.ls2{letter-spacing:0.192000pt;}
.lsd{letter-spacing:0.213760pt;}
.ls10{letter-spacing:0.256000pt;}
.lsa{letter-spacing:0.288000pt;}
.ls18{letter-spacing:0.298240pt;}
.lsc{letter-spacing:0.320000pt;}
.ls1a{letter-spacing:0.320640pt;}
.ls6{letter-spacing:0.340480pt;}
.ls19{letter-spacing:2.030720pt;}
.ls13{letter-spacing:471.936000pt;}
.ls21{letter-spacing:1508.611200pt;}
.ws5{word-spacing:-72.000000pt;}
.ws36{word-spacing:-33.701120pt;}
.ws35{word-spacing:-32.359040pt;}
.ws6{word-spacing:-31.872000pt;}
.ws3e{word-spacing:-27.040640pt;}
.ws23{word-spacing:-26.933760pt;}
.ws40{word-spacing:-26.720000pt;}
.ws3b{word-spacing:-26.613120pt;}
.ws3f{word-spacing:-26.506240pt;}
.ws3a{word-spacing:-25.544320pt;}
.ws31{word-spacing:-24.288000pt;}
.ws2f{word-spacing:-23.808000pt;}
.ws32{word-spacing:-23.712000pt;}
.ws7{word-spacing:-23.680000pt;}
.ws19{word-spacing:-21.280000pt;}
.ws10{word-spacing:-21.109760pt;}
.ws3d{word-spacing:-19.024640pt;}
.ws1a{word-spacing:-14.784000pt;}
.ws1b{word-spacing:-14.656000pt;}
.ws3c{word-spacing:-13.573760pt;}
.ws51{word-spacing:-3.420160pt;}
.ws50{word-spacing:-2.244480pt;}
.ws21{word-spacing:-2.208000pt;}
.ws46{word-spacing:-2.030720pt;}
.ws1e{word-spacing:-1.984000pt;}
.ws43{word-spacing:-1.923840pt;}
.ws27{word-spacing:-1.920000pt;}
.ws22{word-spacing:-1.824000pt;}
.ws33{word-spacing:-1.632000pt;}
.ws47{word-spacing:-1.603200pt;}
.ws4a{word-spacing:-1.496320pt;}
.ws34{word-spacing:-1.440000pt;}
.ws37{word-spacing:-1.409280pt;}
.ws9{word-spacing:-1.408000pt;}
.ws4c{word-spacing:-1.389440pt;}
.ws4f{word-spacing:-1.282560pt;}
.wsc{word-spacing:-1.106560pt;}
.ws1d{word-spacing:-1.088000pt;}
.ws24{word-spacing:-1.068800pt;}
.ws49{word-spacing:-0.961920pt;}
.ws14{word-spacing:-0.960000pt;}
.ws4e{word-spacing:-0.855040pt;}
.ws2c{word-spacing:-0.766080pt;}
.ws39{word-spacing:-0.704640pt;}
.ws2b{word-spacing:-0.704000pt;}
.ws8{word-spacing:-0.640000pt;}
.ws15{word-spacing:-0.576000pt;}
.wsf{word-spacing:-0.510720pt;}
.ws28{word-spacing:-0.448000pt;}
.ws41{word-spacing:-0.447360pt;}
.ws12{word-spacing:-0.340480pt;}
.ws48{word-spacing:-0.320640pt;}
.ws20{word-spacing:-0.288000pt;}
.ws4d{word-spacing:-0.213760pt;}
.ws30{word-spacing:-0.192000pt;}
.wsb{word-spacing:-0.170240pt;}
.wsa{word-spacing:-0.128000pt;}
.ws25{word-spacing:-0.096000pt;}
.ws1f{word-spacing:-0.064000pt;}
.ws1{word-spacing:0.000000pt;}
.ws4{word-spacing:0.096000pt;}
.ws45{word-spacing:0.106880pt;}
.ws11{word-spacing:0.170240pt;}
.ws3{word-spacing:0.192000pt;}
.ws4b{word-spacing:0.213760pt;}
.ws16{word-spacing:0.288000pt;}
.ws38{word-spacing:0.298240pt;}
.ws2a{word-spacing:0.320000pt;}
.ws44{word-spacing:0.320640pt;}
.ws42{word-spacing:0.427520pt;}
.wsd{word-spacing:0.510720pt;}
.ws29{word-spacing:0.704000pt;}
.ws2{word-spacing:0.894720pt;}
.ws2d{word-spacing:0.960000pt;}
.ws0{word-spacing:1.065600pt;}
.ws17{word-spacing:1.106560pt;}
.ws52{word-spacing:1.192960pt;}
.ws18{word-spacing:1.787520pt;}
.ws1c{word-spacing:2.042880pt;}
.ws2e{word-spacing:2.383360pt;}
.ws13{word-spacing:5.088000pt;}
.ws26{word-spacing:6.144000pt;}
.wse{word-spacing:7.405440pt;}
._d{margin-left:-13.060736pt;}
._5{margin-left:-11.520000pt;}
._2{margin-left:-9.088000pt;}
._6{margin-left:-7.396928pt;}
._7{margin-left:-4.697792pt;}
._0{margin-left:-2.898432pt;}
._1{margin-left:-1.468800pt;}
._3{width:1.536000pt;}
._8{width:3.158464pt;}
._9{width:5.116800pt;}
._c{width:6.973568pt;}
._4{width:8.320000pt;}
._b{width:13.167616pt;}
._a{width:14.644864pt;}
.fs6{font-size:64.000000pt;}
.fs5{font-size:85.120000pt;}
.fs2{font-size:96.000000pt;}
.fs7{font-size:106.880000pt;}
.fs4{font-size:128.000000pt;}
.fs1{font-size:149.120000pt;}
.fs0{font-size:213.120000pt;}
.fs8{font-size:234.880000pt;}
.fs3{font-size:288.000000pt;}
.y62{bottom:-6.412533pt;}
.y67{bottom:-4.896267pt;}
.y7b{bottom:-4.146267pt;}
.y6{bottom:0.000000pt;}
.y3{bottom:4.000000pt;}
.ybe{bottom:4.640000pt;}
.y6f{bottom:6.066533pt;}
.y48{bottom:6.666667pt;}
.ya6{bottom:7.333333pt;}
.y5{bottom:9.401867pt;}
.y8e{bottom:10.000000pt;}
.y38{bottom:11.618800pt;}
.y31{bottom:11.942773pt;}
.yb{bottom:15.333333pt;}
.y5b{bottom:16.143520pt;}
.y61{bottom:19.187947pt;}
.y66{bottom:20.703893pt;}
.y82{bottom:20.960960pt;}
.y7a{bottom:21.454693pt;}
.y92{bottom:21.600000pt;}
.y1a{bottom:22.761013pt;}
.y6e{bottom:31.667627pt;}
.ybd{bottom:36.439360pt;}
.y30{bottom:37.542613pt;}
.y4{bottom:38.201867pt;}
.y0{bottom:40.000000pt;}
.y37{bottom:40.418800pt;}
.y5a{bottom:41.743360pt;}
.y60{bottom:44.787787pt;}
.y65{bottom:46.303733pt;}
.y81{bottom:46.560800pt;}
.y79{bottom:47.054533pt;}
.y19{bottom:48.360853pt;}
.y91{bottom:50.400000pt;}
.y6d{bottom:57.267467pt;}
.y3a{bottom:57.429440pt;}
.y8d{bottom:57.760480pt;}
.y2f{bottom:63.142453pt;}
.ycf{bottom:64.666667pt;}
.y59{bottom:67.343200pt;}
.ybc{bottom:68.449920pt;}
.y36{bottom:69.218800pt;}
.y5f{bottom:70.387627pt;}
.y64{bottom:71.903733pt;}
.y80{bottom:72.160640pt;}
.y78{bottom:72.654373pt;}
.y18{bottom:73.960693pt;}
.ya8{bottom:75.333333pt;}
.y90{bottom:79.200000pt;}
.y6c{bottom:82.867307pt;}
.y8c{bottom:83.360320pt;}
.y2e{bottom:88.742293pt;}
.y39{bottom:89.440000pt;}
.ye{bottom:91.360320pt;}
.y58{bottom:92.943040pt;}
.y5e{bottom:95.987467pt;}
.y63{bottom:97.503733pt;}
.y7f{bottom:97.760480pt;}
.y35{bottom:98.018800pt;}
.y77{bottom:98.254213pt;}
.y17{bottom:99.560533pt;}
.ybb{bottom:100.460480pt;}
.y8f{bottom:108.000000pt;}
.y6b{bottom:108.467147pt;}
.y8b{bottom:108.960160pt;}
.y2d{bottom:114.342133pt;}
.yd{bottom:116.960160pt;}
.y57{bottom:118.542880pt;}
.y7e{bottom:123.360320pt;}
.y76{bottom:123.854053pt;}
.yba{bottom:132.471040pt;}
.y27{bottom:132.960960pt;}
.y6a{bottom:134.066987pt;}
.y8a{bottom:134.560000pt;}
.y2c{bottom:139.941973pt;}
.yc{bottom:142.560000pt;}
.y56{bottom:144.142720pt;}
.y7d{bottom:148.960160pt;}
.y75{bottom:149.453893pt;}
.y26{bottom:158.560800pt;}
.y69{bottom:159.666827pt;}
.yb9{bottom:164.481600pt;}
.y2b{bottom:165.541813pt;}
.y12{bottom:167.127680pt;}
.y55{bottom:169.742560pt;}
.y7c{bottom:174.560000pt;}
.y74{bottom:175.053733pt;}
.y16{bottom:177.760480pt;}
.y25{bottom:184.160640pt;}
.y68{bottom:185.266667pt;}
.y2a{bottom:191.141653pt;}
.y11{bottom:192.727520pt;}
.y51{bottom:193.761280pt;}
.y54{bottom:195.342400pt;}
.yb8{bottom:196.492160pt;}
.ybf{bottom:196.666667pt;}
.y15{bottom:203.360320pt;}
.y24{bottom:209.760480pt;}
.ycd{bottom:212.502720pt;}
.y29{bottom:216.741493pt;}
.y10{bottom:218.327360pt;}
.y50{bottom:219.361120pt;}
.y73{bottom:219.901547pt;}
.ya5{bottom:224.791893pt;}
.yb7{bottom:228.502720pt;}
.y14{bottom:228.960160pt;}
.y23{bottom:235.360320pt;}
.y28{bottom:242.341333pt;}
.yf{bottom:243.927200pt;}
.ycc{bottom:244.513280pt;}
.y4f{bottom:244.960960pt;}
.y72{bottom:245.501387pt;}
.y13{bottom:254.560000pt;}
.y2{bottom:256.320000pt;}
.yb6{bottom:260.513280pt;}
.y22{bottom:260.960160pt;}
.y4e{bottom:270.560800pt;}
.y71{bottom:271.101227pt;}
.ycb{bottom:276.523840pt;}
.ya4{bottom:278.400533pt;}
.y9c{bottom:280.800000pt;}
.y21{bottom:286.560000pt;}
.yb5{bottom:292.523840pt;}
.y4d{bottom:296.160640pt;}
.y70{bottom:296.701067pt;}
.yca{bottom:308.534400pt;}
.y9b{bottom:309.600000pt;}
.y4c{bottom:321.760480pt;}
.yb4{bottom:324.534400pt;}
.ya3{bottom:332.158293pt;}
.y9a{bottom:338.400000pt;}
.y5d{bottom:340.369733pt;}
.yc9{bottom:340.544960pt;}
.y4b{bottom:347.360320pt;}
.y9e{bottom:351.310000pt;}
.ya{bottom:353.120000pt;}
.yb3{bottom:356.544960pt;}
.y5c{bottom:359.569733pt;}
.y99{bottom:367.200000pt;}
.y47{bottom:372.000000pt;}
.yc8{bottom:372.555520pt;}
.y4a{bottom:372.960160pt;}
.y9d{bottom:380.110000pt;}
.y20{bottom:383.200000pt;}
.ya2{bottom:385.766933pt;}
.y1{bottom:386.246667pt;}
.yb2{bottom:388.555520pt;}
.y9{bottom:391.520000pt;}
.y34{bottom:395.074267pt;}
.y98{bottom:396.000000pt;}
.y49{bottom:398.560000pt;}
.y46{bottom:400.800000pt;}
.yc7{bottom:404.566080pt;}
.y1f{bottom:412.000000pt;}
.y33{bottom:414.274267pt;}
.yb1{bottom:420.566080pt;}
.y97{bottom:424.800000pt;}
.y45{bottom:429.600000pt;}
.y8{bottom:429.920000pt;}
.y32{bottom:433.474267pt;}
.yc6{bottom:436.576640pt;}
.y1e{bottom:438.880000pt;}
.ya1{bottom:439.375573pt;}
.y41{bottom:452.000000pt;}
.yb0{bottom:452.576640pt;}
.y89{bottom:452.800000pt;}
.y96{bottom:453.600000pt;}
.y1d{bottom:458.080000pt;}
.y44{bottom:458.400000pt;}
.yc5{bottom:468.587200pt;}
.y7{bottom:477.600000pt;}
.y1c{bottom:479.200000pt;}
.y95{bottom:482.400000pt;}
.yaf{bottom:484.587200pt;}
.y43{bottom:487.200000pt;}
.ya0{bottom:493.133333pt;}
.yc4{bottom:500.597760pt;}
.y1b{bottom:508.000000pt;}
.y94{bottom:511.200000pt;}
.y42{bottom:516.000000pt;}
.yae{bottom:516.597760pt;}
.yc3{bottom:532.608320pt;}
.y93{bottom:540.000000pt;}
.y40{bottom:542.560800pt;}
.yad{bottom:548.608320pt;}
.y88{bottom:550.560800pt;}
.y3f{bottom:568.160640pt;}
.y87{bottom:576.160640pt;}
.yac{bottom:580.618880pt;}
.yce{bottom:584.666667pt;}
.y3e{bottom:593.760480pt;}
.yc2{bottom:596.629440pt;}
.y86{bottom:601.760480pt;}
.yab{bottom:612.629440pt;}
.y9f{bottom:615.006533pt;}
.y3d{bottom:619.360320pt;}
.y53{bottom:620.228960pt;}
.y85{bottom:627.360320pt;}
.yc1{bottom:628.640000pt;}
.ya7{bottom:643.840133pt;}
.yaa{bottom:644.640000pt;}
.y3c{bottom:644.960160pt;}
.y52{bottom:645.828800pt;}
.y84{bottom:652.960160pt;}
.yc0{bottom:663.200000pt;}
.y3b{bottom:670.560000pt;}
.yd0{bottom:671.200000pt;}
.y83{bottom:678.560000pt;}
.ya9{bottom:679.200000pt;}
.hf{height:43.750000pt;}
.h5{height:65.296875pt;}
.h12{height:65.625000pt;}
.hd{height:71.000000pt;}
.hb{height:94.430000pt;}
.h3{height:101.937500pt;}
.h16{height:103.685000pt;}
.hc{height:106.500000pt;}
.h14{height:109.921875pt;}
.h10{height:118.570000pt;}
.h1b{height:119.333333pt;}
.h9{height:142.000000pt;}
.h2{height:145.687500pt;}
.h8{height:146.562500pt;}
.h15{height:160.562500pt;}
.h19{height:165.430000pt;}
.h7{height:319.500000pt;}
.h1{height:483.333333pt;}
.h1a{height:507.333333pt;}
.h18{height:516.666667pt;}
.h17{height:568.000000pt;}
.h1c{height:647.333333pt;}
.h6{height:671.333333pt;}
.ha{height:686.000000pt;}
.h13{height:688.666667pt;}
.he{height:705.333333pt;}
.h11{height:713.333333pt;}
.h4{height:716.000000pt;}
.h0{height:720.000000pt;}
.w1{width:532.000000pt;}
.w3{width:594.000000pt;}
.w8{width:865.333333pt;}
.w6{width:930.666667pt;}
.w4{width:934.000000pt;}
.wa{width:944.666667pt;}
.w9{width:945.333333pt;}
.w7{width:949.333333pt;}
.w5{width:952.000000pt;}
.w2{width:958.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x18{left:3.227333pt;}
.x1f{left:8.000000pt;}
.x13{left:9.600000pt;}
.x33{left:14.000000pt;}
.x20{left:17.600000pt;}
.xc{left:24.000000pt;}
.x7{left:25.600000pt;}
.xe{left:57.600133pt;}
.xa{left:62.218533pt;}
.x24{left:75.600000pt;}
.x28{left:80.000000pt;}
.x1c{left:81.600000pt;}
.x23{left:97.600000pt;}
.xf{left:121.600000pt;}
.x27{left:129.598400pt;}
.x16{left:137.600000pt;}
.x8{left:153.854533pt;}
.x2a{left:156.640000pt;}
.x26{left:171.633280pt;}
.x5{left:176.000000pt;}
.x29{left:208.800000pt;}
.x3{left:216.000000pt;}
.x32{left:221.600000pt;}
.x21{left:265.600000pt;}
.x1{left:306.950000pt;}
.x1d{left:329.600000pt;}
.x6{left:345.600000pt;}
.x1a{left:361.600000pt;}
.x2c{left:365.269920pt;}
.x31{left:377.881760pt;}
.x2d{left:387.340640pt;}
.x30{left:392.444160pt;}
.x2f{left:395.490240pt;}
.x2b{left:397.734720pt;}
.x2e{left:405.724000pt;}
.x25{left:420.589120pt;}
.xd{left:439.785600pt;}
.x15{left:441.600000pt;}
.x4{left:457.600000pt;}
.x2{left:475.586667pt;}
.x19{left:483.227333pt;}
.xb{left:488.940000pt;}
.x17{left:497.818400pt;}
.x22{left:526.336933pt;}
.x14{left:527.893600pt;}
.x12{left:571.104907pt;}
.x10{left:585.600000pt;}
.x9{left:617.600000pt;}
.x1e{left:635.523600pt;}
.x11{left:692.226667pt;}
.x1b{left:697.628933pt;}
}
