.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.694336;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.048000px;}
.ls1{letter-spacing:0.192000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-10.896000px;}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.058560px;}
._3{width:1.072000px;}
._8{width:2.256000px;}
._c{width:4.224000px;}
._2{width:5.456000px;}
._1{width:6.624000px;}
._4{width:7.904000px;}
._9{width:9.792000px;}
._6{width:12.240000px;}
._5{width:13.584000px;}
._b{width:14.834560px;}
._a{width:16.128000px;}
._e{width:18.773120px;}
._d{width:19.920000px;}
._11{width:20.928000px;}
._10{width:27.266560px;}
._7{width:28.656000px;}
._f{width:30.816000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.160000px;}
.fs2{font-size:48.000000px;}
.fs1{font-size:56.160000px;}
.y4f{bottom:81.024000px;}
.y26{bottom:94.584000px;}
.y4e{bottom:95.664000px;}
.y4d{bottom:110.300000px;}
.y25{bottom:111.500000px;}
.y4c{bottom:124.940000px;}
.y24{bottom:128.300000px;}
.y4b{bottom:139.700000px;}
.y23{bottom:145.100000px;}
.y4a{bottom:154.340000px;}
.y22{bottom:162.020000px;}
.y49{bottom:168.980000px;}
.y21{bottom:178.820000px;}
.y48{bottom:183.620000px;}
.y20{bottom:195.770000px;}
.y47{bottom:198.290000px;}
.y1f{bottom:212.570000px;}
.y46{bottom:212.930000px;}
.y45{bottom:227.570000px;}
.y1e{bottom:229.370000px;}
.y44{bottom:242.210000px;}
.y1d{bottom:246.290000px;}
.y43{bottom:256.850000px;}
.y1c{bottom:263.090000px;}
.y42{bottom:271.490000px;}
.y1b{bottom:279.890000px;}
.y41{bottom:286.130000px;}
.y1a{bottom:296.810000px;}
.y40{bottom:300.770000px;}
.y19{bottom:313.610000px;}
.y3f{bottom:315.410000px;}
.y3e{bottom:330.050000px;}
.y18{bottom:330.530000px;}
.y3d{bottom:344.810000px;}
.y17{bottom:347.330000px;}
.y3c{bottom:359.450000px;}
.y16{bottom:364.150000px;}
.y3b{bottom:374.110000px;}
.y15{bottom:381.070000px;}
.y3a{bottom:388.750000px;}
.y0{bottom:392.500000px;}
.y14{bottom:395.710000px;}
.y39{bottom:403.390000px;}
.y13{bottom:410.350000px;}
.y38{bottom:418.030000px;}
.y12{bottom:424.990000px;}
.y37{bottom:432.670000px;}
.y11{bottom:439.630000px;}
.y36{bottom:447.310000px;}
.y10{bottom:454.270000px;}
.yf{bottom:471.070000px;}
.y35{bottom:478.150000px;}
.ye{bottom:485.830000px;}
.y34{bottom:494.950000px;}
.yd{bottom:500.470000px;}
.y33{bottom:511.870000px;}
.yc{bottom:515.110000px;}
.y32{bottom:528.670000px;}
.yb{bottom:529.750000px;}
.y59{bottom:532.270000px;}
.ya{bottom:544.420000px;}
.y31{bottom:545.620000px;}
.y58{bottom:549.100000px;}
.y9{bottom:559.060000px;}
.y30{bottom:562.420000px;}
.y57{bottom:566.020000px;}
.y8{bottom:573.700000px;}
.y2f{bottom:579.220000px;}
.y7{bottom:588.340000px;}
.y56{bottom:594.820000px;}
.y2e{bottom:596.140000px;}
.y6{bottom:602.980000px;}
.y55{bottom:609.340000px;}
.y2d{bottom:612.940000px;}
.y5{bottom:619.780000px;}
.y54{bottom:623.980000px;}
.y2c{bottom:629.740000px;}
.y4{bottom:636.700000px;}
.y53{bottom:638.620000px;}
.y2b{bottom:646.660000px;}
.y52{bottom:653.260000px;}
.y3{bottom:653.500000px;}
.y2a{bottom:663.460000px;}
.y51{bottom:667.900000px;}
.y2{bottom:671.260000px;}
.y29{bottom:680.380000px;}
.y50{bottom:682.540000px;}
.y28{bottom:697.180000px;}
.y27{bottom:708.500000px;}
.y1{bottom:708.720000px;}
.h2{height:30.187500px;}
.h5{height:32.812500px;}
.h4{height:33.257812px;}
.h3{height:38.390625px;}
.h6{height:47.500000px;}
.h1{height:363.500000px;}
.h0{height:792.000000px;}
.w2{width:174.000000px;}
.w1{width:471.000000px;}
.w0{width:612.000000px;}
.x0{left:70.500000px;}
.x2{left:72.024000px;}
.x3{left:366.000000px;}
.x1{left:540.120000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.064000pt;}
.ls1{letter-spacing:0.256000pt;}
.ws1{word-spacing:-14.528000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.411413pt;}
._3{width:1.429333pt;}
._8{width:3.008000pt;}
._c{width:5.632000pt;}
._2{width:7.274667pt;}
._1{width:8.832000pt;}
._4{width:10.538667pt;}
._9{width:13.056000pt;}
._6{width:16.320000pt;}
._5{width:18.112000pt;}
._b{width:19.779413pt;}
._a{width:21.504000pt;}
._e{width:25.030827pt;}
._d{width:26.560000pt;}
._11{width:27.904000pt;}
._10{width:36.355413pt;}
._7{width:38.208000pt;}
._f{width:41.088000pt;}
.fs0{font-size:58.880000pt;}
.fs2{font-size:64.000000pt;}
.fs1{font-size:74.880000pt;}
.y4f{bottom:108.032000pt;}
.y26{bottom:126.112000pt;}
.y4e{bottom:127.552000pt;}
.y4d{bottom:147.066667pt;}
.y25{bottom:148.666667pt;}
.y4c{bottom:166.586667pt;}
.y24{bottom:171.066667pt;}
.y4b{bottom:186.266667pt;}
.y23{bottom:193.466667pt;}
.y4a{bottom:205.786667pt;}
.y22{bottom:216.026667pt;}
.y49{bottom:225.306667pt;}
.y21{bottom:238.426667pt;}
.y48{bottom:244.826667pt;}
.y20{bottom:261.026667pt;}
.y47{bottom:264.386667pt;}
.y1f{bottom:283.426667pt;}
.y46{bottom:283.906667pt;}
.y45{bottom:303.426667pt;}
.y1e{bottom:305.826667pt;}
.y44{bottom:322.946667pt;}
.y1d{bottom:328.386667pt;}
.y43{bottom:342.466667pt;}
.y1c{bottom:350.786667pt;}
.y42{bottom:361.986667pt;}
.y1b{bottom:373.186667pt;}
.y41{bottom:381.506667pt;}
.y1a{bottom:395.746667pt;}
.y40{bottom:401.026667pt;}
.y19{bottom:418.146667pt;}
.y3f{bottom:420.546667pt;}
.y3e{bottom:440.066667pt;}
.y18{bottom:440.706667pt;}
.y3d{bottom:459.746667pt;}
.y17{bottom:463.106667pt;}
.y3c{bottom:479.266667pt;}
.y16{bottom:485.533333pt;}
.y3b{bottom:498.813333pt;}
.y15{bottom:508.093333pt;}
.y3a{bottom:518.333333pt;}
.y0{bottom:523.333333pt;}
.y14{bottom:527.613333pt;}
.y39{bottom:537.853333pt;}
.y13{bottom:547.133333pt;}
.y38{bottom:557.373333pt;}
.y12{bottom:566.653333pt;}
.y37{bottom:576.893333pt;}
.y11{bottom:586.173333pt;}
.y36{bottom:596.413333pt;}
.y10{bottom:605.693333pt;}
.yf{bottom:628.093333pt;}
.y35{bottom:637.533333pt;}
.ye{bottom:647.773333pt;}
.y34{bottom:659.933333pt;}
.yd{bottom:667.293333pt;}
.y33{bottom:682.493333pt;}
.yc{bottom:686.813333pt;}
.y32{bottom:704.893333pt;}
.yb{bottom:706.333333pt;}
.y59{bottom:709.693333pt;}
.ya{bottom:725.893333pt;}
.y31{bottom:727.493333pt;}
.y58{bottom:732.133333pt;}
.y9{bottom:745.413333pt;}
.y30{bottom:749.893333pt;}
.y57{bottom:754.693333pt;}
.y8{bottom:764.933333pt;}
.y2f{bottom:772.293333pt;}
.y7{bottom:784.453333pt;}
.y56{bottom:793.093333pt;}
.y2e{bottom:794.853333pt;}
.y6{bottom:803.973333pt;}
.y55{bottom:812.453333pt;}
.y2d{bottom:817.253333pt;}
.y5{bottom:826.373333pt;}
.y54{bottom:831.973333pt;}
.y2c{bottom:839.653333pt;}
.y4{bottom:848.933333pt;}
.y53{bottom:851.493333pt;}
.y2b{bottom:862.213333pt;}
.y52{bottom:871.013333pt;}
.y3{bottom:871.333333pt;}
.y2a{bottom:884.613333pt;}
.y51{bottom:890.533333pt;}
.y2{bottom:895.013333pt;}
.y29{bottom:907.173333pt;}
.y50{bottom:910.053333pt;}
.y28{bottom:929.573333pt;}
.y27{bottom:944.666667pt;}
.y1{bottom:944.960000pt;}
.h2{height:40.250000pt;}
.h5{height:43.750000pt;}
.h4{height:44.343750pt;}
.h3{height:51.187500pt;}
.h6{height:63.333333pt;}
.h1{height:484.666667pt;}
.h0{height:1056.000000pt;}
.w2{width:232.000000pt;}
.w1{width:628.000000pt;}
.w0{width:816.000000pt;}
.x0{left:94.000000pt;}
.x2{left:96.032000pt;}
.x3{left:488.000000pt;}
.x1{left:720.160000pt;}
}
