.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.952148;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v3{vertical-align:-107.640003px;}
.v4{vertical-align:-92.640003px;}
.v0{vertical-align:0.000000px;}
.v2{vertical-align:23.122591px;}
.v1{vertical-align:46.070524px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:81.721170px;}
.ls3{letter-spacing:110.399021px;}
.ls1{letter-spacing:2739.387587px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.ws4{word-spacing:138.275483px;}
.ws3{word-spacing:139.462724px;}
.ws2{word-spacing:180.274111px;}
.ws6{word-spacing:180.274291px;}
.ws8{word-spacing:189.009956px;}
.ws7{word-spacing:195.311993px;}
.ws5{word-spacing:210.788245px;}
.ws1{word-spacing:232.542967px;}
._0{width:100.710963px;}
.fc6{color:rgb(201,218,248);}
.fc5{color:rgb(67,67,67);}
.fc4{color:rgb(120,63,4);}
.fc7{color:rgb(255,255,255);}
.fc3{color:rgb(32,66,90);}
.fc2{color:rgb(255,0,0);}
.fc1{color:rgb(21,49,83);}
.fc0{color:rgb(0,0,0);}
.fs8{font-size:40.000000px;}
.fs3{font-size:56.000000px;}
.fs4{font-size:72.000002px;}
.fsa{font-size:80.000001px;}
.fs2{font-size:96.000003px;}
.fs1{font-size:112.000000px;}
.fs7{font-size:126.718726px;}
.fs6{font-size:126.718804px;}
.fs9{font-size:127.507204px;}
.fs5{font-size:128.000008px;}
.fs0{font-size:208.000015px;}
.y0{bottom:0.000000px;}
.y3d{bottom:9.185943px;}
.yb{bottom:61.203705px;}
.y16{bottom:65.231797px;}
.y74{bottom:74.886045px;}
.y7{bottom:75.432435px;}
.ya{bottom:77.703707px;}
.y15{bottom:101.379436px;}
.y73{bottom:103.386046px;}
.y6{bottom:103.932436px;}
.y40{bottom:109.446065px;}
.y44{bottom:114.171624px;}
.y28{bottom:117.959986px;}
.y43{bottom:126.171625px;}
.y14{bottom:137.527075px;}
.y27{bottom:146.459987px;}
.y7f{bottom:147.779987px;}
.y5d{bottom:147.869987px;}
.y35{bottom:151.143895px;}
.y45{bottom:151.819290px;}
.y4a{bottom:152.369988px;}
.y65{bottom:156.299988px;}
.y50{bottom:158.130220px;}
.y52{bottom:160.209547px;}
.y51{bottom:166.208692px;}
.y13{bottom:173.674713px;}
.y5c{bottom:174.869988px;}
.y26{bottom:177.337473px;}
.y64{bottom:180.299988px;}
.y90{bottom:180.779989px;}
.y6d{bottom:181.136524px;}
.y3c{bottom:186.029989px;}
.y72{bottom:188.886049px;}
.y5{bottom:190.602289px;}
.y47{bottom:198.611464px;}
.y5b{bottom:201.779989px;}
.y63{bottom:204.959989px;}
.y6c{bottom:209.636524px;}
.y12{bottom:209.822359px;}
.y25{bottom:215.587475px;}
.y2f{bottom:216.677540px;}
.y2e{bottom:217.159910px;}
.y71{bottom:217.386050px;}
.y8f{bottom:219.029990px;}
.y7e{bottom:223.619990px;}
.y4{bottom:224.352290px;}
.y41{bottom:224.601188px;}
.y5a{bottom:232.709990px;}
.y49{bottom:233.279990px;}
.y62{bottom:234.869990px;}
.y3e{bottom:236.952141px;}
.y6b{bottom:238.136525px;}
.y8a{bottom:242.369968px;}
.y60{bottom:242.386723px;}
.y70{bottom:245.886051px;}
.y11{bottom:245.969991px;}
.y9{bottom:250.695816px;}
.y22{bottom:253.529998px;}
.y24{bottom:253.837476px;}
.y1f{bottom:253.837498px;}
.y30{bottom:254.325190px;}
.y2d{bottom:255.409918px;}
.y59{bottom:255.959991px;}
.y79{bottom:256.656388px;}
.y8e{bottom:257.279998px;}
.y3{bottom:258.102291px;}
.y3b{bottom:261.869991px;}
.y6a{bottom:266.636526px;}
.y8{bottom:267.195818px;}
.y1a{bottom:267.779999px;}
.y61{bottom:268.619991px;}
.y89{bottom:269.369984px;}
.y7d{bottom:271.619991px;}
.y86{bottom:273.119984px;}
.y6f{bottom:274.386052px;}
.y3f{bottom:276.521062px;}
.y58{bottom:279.209992px;}
.y10{bottom:282.117622px;}
.y78{bottom:285.156389px;}
.y84{bottom:290.119987px;}
.y4f{bottom:290.868787px;}
.y23{bottom:291.780000px;}
.y2{bottom:291.852295px;}
.y1e{bottom:292.087500px;}
.y2c{bottom:293.659920px;}
.y69{bottom:295.136527px;}
.y8d{bottom:295.530000px;}
.y88{bottom:296.369985px;}
.y5f{bottom:296.386725px;}
.y85{bottom:300.119985px;}
.y57{bottom:302.369992px;}
.y34{bottom:303.085867px;}
.y46{bottom:306.788772px;}
.y3a{bottom:309.869993px;}
.y19{bottom:312.030000px;}
.y77{bottom:313.656390px;}
.yf{bottom:318.265268px;}
.y7c{bottom:319.619993px;}
.y48{bottom:321.780001px;}
.y87{bottom:323.119988px;}
.y68{bottom:323.636528px;}
.y81{bottom:325.279996px;}
.y83{bottom:326.869988px;}
.y56{bottom:329.369993px;}
.y21{bottom:330.030001px;}
.y1d{bottom:330.337501px;}
.y4b{bottom:330.577607px;}
.y1{bottom:331.062312px;}
.y6e{bottom:331.386053px;}
.y2b{bottom:331.909921px;}
.y42{bottom:336.972829px;}
.y32{bottom:341.426574px;}
.y76{bottom:342.156391px;}
.y38{bottom:348.779994px;}
.y67{bottom:352.136529px;}
.ye{bottom:354.412907px;}
.y18{bottom:356.279994px;}
.y55{bottom:356.369994px;}
.y39{bottom:357.869994px;}
.y8b{bottom:363.619997px;}
.y91{bottom:368.279995px;}
.y20{bottom:368.587480px;}
.y1c{bottom:368.587502px;}
.y4c{bottom:370.145523px;}
.y2a{bottom:370.159915px;}
.y75{bottom:370.656392px;}
.y8c{bottom:372.029995px;}
.y7a{bottom:375.779995px;}
.y5e{bottom:377.296726px;}
.y37{bottom:379.529995px;}
.y66{bottom:380.636530px;}
.y31{bottom:380.995473px;}
.y33{bottom:380.996456px;}
.y54{bottom:383.369995px;}
.yd{bottom:390.560545px;}
.y17{bottom:400.129997px;}
.y82{bottom:400.279998px;}
.y4e{bottom:400.414223px;}
.y80{bottom:406.279998px;}
.y1b{bottom:406.529996px;}
.y29{bottom:408.409916px;}
.y36{bottom:410.279996px;}
.y53{bottom:410.369999px;}
.y7b{bottom:416.699764px;}
.yc{bottom:426.708184px;}
.y4d{bottom:427.739984px;}
.hc{height:29.121094px;}
.hd{height:29.140625px;}
.hf{height:29.144555px;}
.h4{height:40.796875px;}
.h10{height:52.263156px;}
.hb{height:52.263216px;}
.h5{height:52.417970px;}
.h6{height:52.453127px;}
.h11{height:53.144046px;}
.h12{height:58.281250px;}
.h3{height:69.890627px;}
.ha{height:69.937502px;}
.h14{height:75.960937px;}
.h2{height:81.593750px;}
.h13{height:86.812505px;}
.h9{height:92.316572px;}
.h8{height:92.316629px;}
.he{height:92.890990px;}
.h7{height:93.250006px;}
.h1{height:151.531261px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x40{left:6.750000px;}
.x16{left:53.426596px;}
.x17{left:59.500180px;}
.x2e{left:61.549612px;}
.x37{left:62.948629px;}
.x3a{left:71.425718px;}
.x8{left:73.615439px;}
.x22{left:75.529040px;}
.x23{left:77.549612px;}
.x1a{left:86.973241px;}
.x3d{left:88.507582px;}
.x9{left:91.105672px;}
.x2f{left:93.179905px;}
.x6{left:99.608823px;}
.x3b{left:103.056011px;}
.x24{left:107.179901px;}
.x18{left:122.973244px;}
.x41{left:126.750004px;}
.x38{left:134.948629px;}
.x39{left:136.347661px;}
.x19{left:142.347661px;}
.x3c{left:169.631300px;}
.x7{left:205.892032px;}
.x2a{left:228.659460px;}
.xb{left:233.384673px;}
.x27{left:249.628826px;}
.xa{left:263.709053px;}
.x1{left:271.785839px;}
.x14{left:284.510844px;}
.x2b{left:299.157427px;}
.x5{left:309.837370px;}
.x2c{left:313.386385px;}
.x26{left:318.931105px;}
.x2{left:321.511540px;}
.x2d{left:338.240411px;}
.x3{left:359.650714px;}
.x4{left:361.154419px;}
.x15{left:392.650588px;}
.xd{left:414.169486px;}
.xc{left:416.488991px;}
.x13{left:418.432300px;}
.x12{left:443.308060px;}
.x28{left:551.320135px;}
.x29{left:584.891216px;}
.xf{left:593.775816px;}
.xe{left:601.929955px;}
.x3e{left:663.584125px;}
.x32{left:690.567922px;}
.x3f{left:699.584126px;}
.x1c{left:705.906401px;}
.x34{left:723.889823px;}
.x35{left:725.898867px;}
.x1b{left:754.866349px;}
.x33{left:756.703637px;}
.x30{left:762.248342px;}
.x1f{left:765.752074px;}
.x31{left:769.469455px;}
.x11{left:773.382109px;}
.x1d{left:775.208680px;}
.x21{left:778.705265px;}
.x36{left:792.175819px;}
.x20{left:794.518000px;}
.x10{left:800.597871px;}
.x1e{left:845.330968px;}
.x25{left:937.694295px;}
@media print{
.v3{vertical-align:-143.520005pt;}
.v4{vertical-align:-123.520004pt;}
.v0{vertical-align:0.000000pt;}
.v2{vertical-align:30.830121pt;}
.v1{vertical-align:61.427366pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:108.961560pt;}
.ls3{letter-spacing:147.198694pt;}
.ls1{letter-spacing:3652.516783pt;}
.ws0{word-spacing:0.000000pt;}
.ws4{word-spacing:184.367311pt;}
.ws3{word-spacing:185.950299pt;}
.ws2{word-spacing:240.365482pt;}
.ws6{word-spacing:240.365722pt;}
.ws8{word-spacing:252.013274pt;}
.ws7{word-spacing:260.415991pt;}
.ws5{word-spacing:281.050993pt;}
.ws1{word-spacing:310.057290pt;}
._0{width:134.281284pt;}
.fs8{font-size:53.333334pt;}
.fs3{font-size:74.666666pt;}
.fs4{font-size:96.000003pt;}
.fsa{font-size:106.666667pt;}
.fs2{font-size:128.000004pt;}
.fs1{font-size:149.333333pt;}
.fs7{font-size:168.958301pt;}
.fs6{font-size:168.958405pt;}
.fs9{font-size:170.009605pt;}
.fs5{font-size:170.666677pt;}
.fs0{font-size:277.333353pt;}
.y0{bottom:0.000000pt;}
.y3d{bottom:12.247923pt;}
.yb{bottom:81.604940pt;}
.y16{bottom:86.975730pt;}
.y74{bottom:99.848060pt;}
.y7{bottom:100.576580pt;}
.ya{bottom:103.604942pt;}
.y15{bottom:135.172581pt;}
.y73{bottom:137.848061pt;}
.y6{bottom:138.576581pt;}
.y40{bottom:145.928087pt;}
.y44{bottom:152.228832pt;}
.y28{bottom:157.279982pt;}
.y43{bottom:168.228833pt;}
.y14{bottom:183.369433pt;}
.y27{bottom:195.279983pt;}
.y7f{bottom:197.039983pt;}
.y5d{bottom:197.159983pt;}
.y35{bottom:201.525193pt;}
.y45{bottom:202.425719pt;}
.y4a{bottom:203.159983pt;}
.y65{bottom:208.399984pt;}
.y50{bottom:210.840293pt;}
.y52{bottom:213.612729pt;}
.y51{bottom:221.611589pt;}
.y13{bottom:231.566284pt;}
.y5c{bottom:233.159984pt;}
.y26{bottom:236.449965pt;}
.y64{bottom:240.399985pt;}
.y90{bottom:241.039985pt;}
.y6d{bottom:241.515365pt;}
.y3c{bottom:248.039985pt;}
.y72{bottom:251.848065pt;}
.y5{bottom:254.136385pt;}
.y47{bottom:264.815285pt;}
.y5b{bottom:269.039986pt;}
.y63{bottom:273.279986pt;}
.y6c{bottom:279.515366pt;}
.y12{bottom:279.763146pt;}
.y25{bottom:287.449966pt;}
.y2f{bottom:288.903386pt;}
.y2e{bottom:289.546546pt;}
.y71{bottom:289.848066pt;}
.y8f{bottom:292.039986pt;}
.y7e{bottom:298.159987pt;}
.y4{bottom:299.136387pt;}
.y41{bottom:299.468251pt;}
.y5a{bottom:310.279987pt;}
.y49{bottom:311.039987pt;}
.y62{bottom:313.159987pt;}
.y3e{bottom:315.936188pt;}
.y6b{bottom:317.515367pt;}
.y8a{bottom:323.159957pt;}
.y60{bottom:323.182297pt;}
.y70{bottom:327.848067pt;}
.y11{bottom:327.959987pt;}
.y9{bottom:334.261088pt;}
.y22{bottom:338.039998pt;}
.y24{bottom:338.449968pt;}
.y1f{bottom:338.449998pt;}
.y30{bottom:339.100254pt;}
.y2d{bottom:340.546558pt;}
.y59{bottom:341.279988pt;}
.y79{bottom:342.208518pt;}
.y8e{bottom:343.039998pt;}
.y3{bottom:344.136388pt;}
.y3b{bottom:349.159988pt;}
.y6a{bottom:355.515368pt;}
.y8{bottom:356.261090pt;}
.y1a{bottom:357.039998pt;}
.y61{bottom:358.159988pt;}
.y89{bottom:359.159978pt;}
.y7d{bottom:362.159989pt;}
.y86{bottom:364.159979pt;}
.y6f{bottom:365.848069pt;}
.y3f{bottom:368.694750pt;}
.y58{bottom:372.279989pt;}
.y10{bottom:376.156829pt;}
.y78{bottom:380.208519pt;}
.y84{bottom:386.826649pt;}
.y4f{bottom:387.825049pt;}
.y23{bottom:389.039999pt;}
.y2{bottom:389.136393pt;}
.y1e{bottom:389.449999pt;}
.y2c{bottom:391.546559pt;}
.y69{bottom:393.515370pt;}
.y8d{bottom:394.040000pt;}
.y88{bottom:395.159980pt;}
.y5f{bottom:395.182300pt;}
.y85{bottom:400.159980pt;}
.y57{bottom:403.159990pt;}
.y34{bottom:404.114490pt;}
.y46{bottom:409.051696pt;}
.y3a{bottom:413.159990pt;}
.y19{bottom:416.040000pt;}
.y77{bottom:418.208520pt;}
.yf{bottom:424.353691pt;}
.y7c{bottom:426.159991pt;}
.y48{bottom:429.040001pt;}
.y87{bottom:430.826651pt;}
.y68{bottom:431.515371pt;}
.y81{bottom:433.706661pt;}
.y83{bottom:435.826651pt;}
.y56{bottom:439.159991pt;}
.y21{bottom:440.040001pt;}
.y1d{bottom:440.450001pt;}
.y4b{bottom:440.770142pt;}
.y1{bottom:441.416416pt;}
.y6e{bottom:441.848071pt;}
.y2b{bottom:442.546561pt;}
.y42{bottom:449.297105pt;}
.y32{bottom:455.235433pt;}
.y76{bottom:456.208522pt;}
.y38{bottom:465.039992pt;}
.y67{bottom:469.515372pt;}
.ye{bottom:472.550542pt;}
.y18{bottom:475.039992pt;}
.y55{bottom:475.159992pt;}
.y39{bottom:477.159992pt;}
.y8b{bottom:484.826662pt;}
.y91{bottom:491.039993pt;}
.y20{bottom:491.449973pt;}
.y1c{bottom:491.450003pt;}
.y4c{bottom:493.527364pt;}
.y2a{bottom:493.546553pt;}
.y75{bottom:494.208523pt;}
.y8c{bottom:496.039993pt;}
.y7a{bottom:501.039993pt;}
.y5e{bottom:503.062301pt;}
.y37{bottom:506.039993pt;}
.y66{bottom:507.515373pt;}
.y31{bottom:507.993964pt;}
.y33{bottom:507.995274pt;}
.y54{bottom:511.159993pt;}
.yd{bottom:520.747394pt;}
.y17{bottom:533.506662pt;}
.y82{bottom:533.706664pt;}
.y4e{bottom:533.885630pt;}
.y80{bottom:541.706664pt;}
.y1b{bottom:542.039994pt;}
.y29{bottom:544.546554pt;}
.y36{bottom:547.039994pt;}
.y53{bottom:547.159998pt;}
.y7b{bottom:555.599685pt;}
.yc{bottom:568.944245pt;}
.y4d{bottom:570.319979pt;}
.hc{height:38.828125pt;}
.hd{height:38.854167pt;}
.hf{height:38.859407pt;}
.h4{height:54.395833pt;}
.h10{height:69.684208pt;}
.hb{height:69.684288pt;}
.h5{height:69.890627pt;}
.h6{height:69.937502pt;}
.h11{height:70.858728pt;}
.h12{height:77.708334pt;}
.h3{height:93.187503pt;}
.ha{height:93.250003pt;}
.h14{height:101.281250pt;}
.h2{height:108.791666pt;}
.h13{height:115.750007pt;}
.h9{height:123.088763pt;}
.h8{height:123.088838pt;}
.he{height:123.854654pt;}
.h7{height:124.333341pt;}
.h1{height:202.041681pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x40{left:9.000000pt;}
.x16{left:71.235461pt;}
.x17{left:79.333573pt;}
.x2e{left:82.066150pt;}
.x37{left:83.931506pt;}
.x3a{left:95.234290pt;}
.x8{left:98.153919pt;}
.x22{left:100.705386pt;}
.x23{left:103.399483pt;}
.x1a{left:115.964321pt;}
.x3d{left:118.010109pt;}
.x9{left:121.474230pt;}
.x2f{left:124.239874pt;}
.x6{left:132.811764pt;}
.x3b{left:137.408014pt;}
.x24{left:142.906535pt;}
.x18{left:163.964325pt;}
.x41{left:169.000005pt;}
.x38{left:179.931506pt;}
.x39{left:181.796881pt;}
.x19{left:189.796881pt;}
.x3c{left:226.175067pt;}
.x7{left:274.522709pt;}
.x2a{left:304.879280pt;}
.xb{left:311.179564pt;}
.x27{left:332.838435pt;}
.xa{left:351.612071pt;}
.x1{left:362.381119pt;}
.x14{left:379.347792pt;}
.x2b{left:398.876570pt;}
.x5{left:413.116493pt;}
.x2c{left:417.848513pt;}
.x26{left:425.241474pt;}
.x2{left:428.682054pt;}
.x2d{left:450.987214pt;}
.x3{left:479.534285pt;}
.x4{left:481.539225pt;}
.x15{left:523.534117pt;}
.xd{left:552.225981pt;}
.xc{left:555.318655pt;}
.x13{left:557.909733pt;}
.x12{left:591.077413pt;}
.x28{left:735.093514pt;}
.x29{left:779.854955pt;}
.xf{left:791.701088pt;}
.xe{left:802.573273pt;}
.x3e{left:884.778833pt;}
.x32{left:920.757229pt;}
.x3f{left:932.778835pt;}
.x1c{left:941.208534pt;}
.x34{left:965.186431pt;}
.x35{left:967.865156pt;}
.x1b{left:1006.488465pt;}
.x33{left:1008.938182pt;}
.x30{left:1016.331123pt;}
.x1f{left:1021.002766pt;}
.x31{left:1025.959273pt;}
.x11{left:1031.176146pt;}
.x1d{left:1033.611573pt;}
.x21{left:1038.273687pt;}
.x36{left:1056.234426pt;}
.x20{left:1059.357334pt;}
.x10{left:1067.463828pt;}
.x1e{left:1127.107957pt;}
.x25{left:1250.259060pt;}
}
