.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v1{vertical-align:-5.048400px;}
.v0{vertical-align:0.000000px;}
.ls12{letter-spacing:-1.152000px;}
.lsb{letter-spacing:-1.141920px;}
.ls30{letter-spacing:-0.900000px;}
.ls43{letter-spacing:-0.768000px;}
.ls31{letter-spacing:-0.720000px;}
.ls34{letter-spacing:-0.446880px;}
.ls3a{letter-spacing:-0.263520px;}
.ls42{letter-spacing:-0.256320px;}
.ls2{letter-spacing:-0.223680px;}
.ls16{letter-spacing:-0.216000px;}
.ls28{letter-spacing:-0.208320px;}
.ls2b{letter-spacing:-0.192000px;}
.ls32{letter-spacing:-0.180000px;}
.ls19{letter-spacing:-0.176640px;}
.lsa{letter-spacing:-0.175680px;}
.ls39{letter-spacing:-0.159840px;}
.ls24{letter-spacing:-0.155520px;}
.ls3b{letter-spacing:-0.151680px;}
.ls17{letter-spacing:-0.144000px;}
.ls6{letter-spacing:-0.128160px;}
.ls3d{letter-spacing:-0.127680px;}
.ls26{letter-spacing:-0.120000px;}
.ls46{letter-spacing:-0.111840px;}
.ls33{letter-spacing:-0.108000px;}
.ls23{letter-spacing:-0.103680px;}
.ls44{letter-spacing:-0.096000px;}
.ls8{letter-spacing:-0.087840px;}
.lsf{letter-spacing:-0.079680px;}
.ls13{letter-spacing:-0.072000px;}
.ls1c{letter-spacing:-0.063840px;}
.ls1a{letter-spacing:-0.044160px;}
.ls10{letter-spacing:-0.039840px;}
.ls1{letter-spacing:0.000000px;}
.lse{letter-spacing:0.039840px;}
.ls27{letter-spacing:0.051840px;}
.ls21{letter-spacing:0.060000px;}
.ls1d{letter-spacing:0.063840px;}
.ls14{letter-spacing:0.072000px;}
.ls3c{letter-spacing:0.075840px;}
.ls2c{letter-spacing:0.096000px;}
.ls20{letter-spacing:0.103680px;}
.ls29{letter-spacing:0.104160px;}
.ls3e{letter-spacing:0.108000px;}
.ls11{letter-spacing:0.119520px;}
.ls18{letter-spacing:0.127680px;}
.ls0{letter-spacing:0.144000px;}
.ls22{letter-spacing:0.155520px;}
.ls40{letter-spacing:0.159840px;}
.ls9{letter-spacing:0.175680px;}
.lsd{letter-spacing:0.176640px;}
.ls1b{letter-spacing:0.180000px;}
.ls2a{letter-spacing:0.192000px;}
.ls25{letter-spacing:0.207360px;}
.ls15{letter-spacing:0.216000px;}
.ls5{letter-spacing:0.243504px;}
.ls38{letter-spacing:1.080000px;}
.ls4{letter-spacing:28.056960px;}
.ls37{letter-spacing:36.504960px;}
.ls41{letter-spacing:38.400000px;}
.ls35{letter-spacing:41.400960px;}
.ls2f{letter-spacing:43.176960px;}
.ls36{letter-spacing:45.456000px;}
.ls2d{letter-spacing:50.208000px;}
.ls2e{letter-spacing:51.000000px;}
.ls45{letter-spacing:56.640000px;}
.ls1f{letter-spacing:61.416960px;}
.ls3{letter-spacing:63.144000px;}
.ls7{letter-spacing:77.256000px;}
.ls3f{letter-spacing:82.800000px;}
.ls1e{letter-spacing:87.000000px;}
.lsc{letter-spacing:515.966400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws68{word-spacing:-36.283680px;}
.ws5f{word-spacing:-35.964000px;}
.ws0{word-spacing:-32.688000px;}
.ws7{word-spacing:-28.964160px;}
.ws8{word-spacing:-28.836000px;}
.ws75{word-spacing:-28.707840px;}
.ws76{word-spacing:-25.052160px;}
.ws62{word-spacing:-24.516000px;}
.ws63{word-spacing:-24.300000px;}
.ws4b{word-spacing:-21.792000px;}
.ws4a{word-spacing:-21.696000px;}
.ws49{word-spacing:-21.504000px;}
.ws69{word-spacing:-20.928000px;}
.wsf{word-spacing:-20.027520px;}
.wse{word-spacing:-19.764000px;}
.ws10{word-spacing:-19.676160px;}
.ws11{word-spacing:-18.709920px;}
.ws21{word-spacing:-16.488000px;}
.ws51{word-spacing:-16.416000px;}
.ws20{word-spacing:-16.344000px;}
.ws1f{word-spacing:-16.200000px;}
.ws22{word-spacing:-16.056000px;}
.ws1e{word-spacing:-15.120000px;}
.ws31{word-spacing:-14.491680px;}
.ws61{word-spacing:-14.364000px;}
.ws60{word-spacing:-14.300160px;}
.ws5c{word-spacing:-13.980960px;}
.ws4e{word-spacing:-13.740000px;}
.ws50{word-spacing:-13.560000px;}
.ws3b{word-spacing:-13.440000px;}
.ws4f{word-spacing:-12.840000px;}
.ws3a{word-spacing:-11.819520px;}
.ws39{word-spacing:-11.715840px;}
.ws38{word-spacing:-11.612160px;}
.ws1c{word-spacing:-10.992000px;}
.ws2e{word-spacing:-9.936000px;}
.ws1d{word-spacing:-9.123360px;}
.ws19{word-spacing:-9.043680px;}
.ws1b{word-spacing:-8.964000px;}
.ws1a{word-spacing:-8.924160px;}
.ws2f{word-spacing:-8.316000px;}
.ws30{word-spacing:-7.920000px;}
.ws1{word-spacing:-1.440000px;}
.ws57{word-spacing:-1.152000px;}
.ws33{word-spacing:-1.148160px;}
.ws3{word-spacing:-1.008000px;}
.ws46{word-spacing:-0.937440px;}
.ws53{word-spacing:-0.780000px;}
.ws73{word-spacing:-0.672000px;}
.ws3d{word-spacing:-0.660000px;}
.ws3c{word-spacing:-0.639360px;}
.ws48{word-spacing:-0.624960px;}
.ws14{word-spacing:-0.614880px;}
.ws32{word-spacing:-0.576000px;}
.wsb{word-spacing:-0.512640px;}
.ws6e{word-spacing:-0.480000px;}
.ws35{word-spacing:-0.446880px;}
.ws5a{word-spacing:-0.432000px;}
.ws59{word-spacing:-0.324000px;}
.ws56{word-spacing:-0.300000px;}
.ws71{word-spacing:-0.288000px;}
.ws45{word-spacing:-0.259200px;}
.ws4c{word-spacing:-0.192000px;}
.ws52{word-spacing:-0.180000px;}
.ws24{word-spacing:-0.176640px;}
.ws13{word-spacing:-0.175680px;}
.ws6a{word-spacing:-0.159840px;}
.ws58{word-spacing:-0.144000px;}
.ws5e{word-spacing:-0.127680px;}
.ws43{word-spacing:-0.103680px;}
.ws4d{word-spacing:-0.096000px;}
.ws18{word-spacing:-0.087840px;}
.ws27{word-spacing:-0.072000px;}
.ws36{word-spacing:-0.063840px;}
.ws2{word-spacing:0.000000px;}
.ws44{word-spacing:0.051840px;}
.ws55{word-spacing:0.060000px;}
.ws67{word-spacing:0.063840px;}
.ws2c{word-spacing:0.072000px;}
.ws66{word-spacing:0.075840px;}
.ws23{word-spacing:0.088320px;}
.ws70{word-spacing:0.096000px;}
.ws3e{word-spacing:0.103680px;}
.ws5b{word-spacing:0.108000px;}
.ws29{word-spacing:0.144000px;}
.ws64{word-spacing:0.151680px;}
.ws42{word-spacing:0.155520px;}
.ws6f{word-spacing:0.192000px;}
.ws47{word-spacing:0.208320px;}
.ws25{word-spacing:0.216000px;}
.ws17{word-spacing:0.263520px;}
.ws5d{word-spacing:0.288000px;}
.ws65{word-spacing:0.303360px;}
.ws78{word-spacing:0.335520px;}
.wsc{word-spacing:0.384480px;}
.ws26{word-spacing:0.432000px;}
.ws2b{word-spacing:0.504000px;}
.ws34{word-spacing:0.510720px;}
.ws6b{word-spacing:0.512640px;}
.ws40{word-spacing:0.622080px;}
.ws4{word-spacing:0.671040px;}
.ws41{word-spacing:0.673920px;}
.ws28{word-spacing:0.720000px;}
.ws72{word-spacing:0.768000px;}
.ws77{word-spacing:0.782880px;}
.wsa{word-spacing:0.799200px;}
.ws16{word-spacing:0.878400px;}
.ws5{word-spacing:0.894720px;}
.wsd{word-spacing:0.897120px;}
.ws3f{word-spacing:0.933120px;}
.ws2d{word-spacing:1.008000px;}
.ws74{word-spacing:1.152000px;}
.ws12{word-spacing:1.229760px;}
.ws54{word-spacing:1.260000px;}
.ws15{word-spacing:1.317600px;}
.ws6{word-spacing:1.342080px;}
.ws6d{word-spacing:1.565760px;}
.ws37{word-spacing:1.979040px;}
.ws2a{word-spacing:2.237760px;}
.ws6c{word-spacing:2.572320px;}
.ws9{word-spacing:36.386880px;}
._2{margin-left:-10.324800px;}
._6{margin-left:-8.256720px;}
._0{margin-left:-6.436800px;}
._5{margin-left:-4.166928px;}
._3{margin-left:-2.563200px;}
._1{margin-left:-1.252800px;}
._4{width:1.981632px;}
.fc8{color:rgb(255,0,0);}
.fc7{color:rgb(135,89,217);}
.fc6{color:rgb(51,102,153);}
.fc5{color:rgb(51,204,204);}
.fc4{color:rgb(102,153,0);}
.fc3{color:rgb(204,51,0);}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(21,49,83);}
.fc0{color:rgb(32,66,90);}
.fs9{font-size:36.000000px;}
.fs5{font-size:39.840000px;}
.fs8{font-size:44.160000px;}
.fs6{font-size:48.000000px;}
.fsc{font-size:51.840000px;}
.fsb{font-size:60.000000px;}
.fsa{font-size:63.840000px;}
.fs7{font-size:72.000000px;}
.fs10{font-size:75.840000px;}
.fs4{font-size:87.840000px;}
.fse{font-size:96.000000px;}
.fsd{font-size:104.160000px;}
.fsf{font-size:108.000000px;}
.fs1{font-size:111.840000px;}
.fs3{font-size:128.160000px;}
.fs0{font-size:144.000000px;}
.fs2{font-size:159.840000px;}
.y5{bottom:0.000000px;}
.y70{bottom:10.295000px;}
.y0{bottom:30.000000px;}
.y6d{bottom:30.236160px;}
.y2c{bottom:42.521300px;}
.y29{bottom:44.681300px;}
.y6c{bottom:45.840000px;}
.y85{bottom:46.560000px;}
.y9a{bottom:47.520000px;}
.yb2{bottom:47.999100px;}
.y1c{bottom:51.364080px;}
.y6b{bottom:61.440000px;}
.y84{bottom:68.160000px;}
.y28{bottom:68.681300px;}
.y99{bottom:71.040000px;}
.y27{bottom:74.681300px;}
.y36{bottom:76.432800px;}
.y2f{bottom:76.440000px;}
.yb1{bottom:76.799100px;}
.y6a{bottom:77.040000px;}
.y1b{bottom:77.760000px;}
.yab{bottom:82.080000px;}
.y40{bottom:86.681300px;}
.y83{bottom:89.040000px;}
.y69{bottom:92.640000px;}
.y98{bottom:96.720000px;}
.y1a{bottom:104.160000px;}
.yb0{bottom:105.599100px;}
.y82{bottom:107.040000px;}
.y68{bottom:108.240000px;}
.y8b{bottom:109.953500px;}
.y4e{bottom:111.000000px;}
.y4a{bottom:117.000000px;}
.y97{bottom:118.806480px;}
.ya5{bottom:119.280000px;}
.y1e{bottom:120.101300px;}
.y20{bottom:121.061300px;}
.y81{bottom:121.440000px;}
.y3c{bottom:123.619900px;}
.y67{bottom:123.840000px;}
.ybd{bottom:124.312080px;}
.y2e{bottom:124.440000px;}
.yaa{bottom:127.200000px;}
.y19{bottom:130.560000px;}
.y22{bottom:133.661300px;}
.y96{bottom:134.160000px;}
.yaf{bottom:134.399100px;}
.y66{bottom:139.440000px;}
.y80{bottom:140.160000px;}
.ya4{bottom:148.816080px;}
.y95{bottom:154.080000px;}
.y65{bottom:155.040000px;}
.y18{bottom:156.960000px;}
.ybc{bottom:157.920000px;}
.y4d{bottom:159.000000px;}
.y7f{bottom:161.040000px;}
.y1f{bottom:163.061300px;}
.yae{bottom:163.199100px;}
.y49{bottom:165.000000px;}
.y2d{bottom:166.961300px;}
.ya9{bottom:168.480000px;}
.y64{bottom:170.640000px;}
.y94{bottom:176.166480px;}
.y7e{bottom:178.560000px;}
.y3f{bottom:182.675300px;}
.y17{bottom:183.360000px;}
.y23{bottom:184.421200px;}
.ye{bottom:185.760000px;}
.y63{bottom:186.720000px;}
.ya3{bottom:187.200000px;}
.y1d{bottom:188.101300px;}
.y93{bottom:191.520000px;}
.yad{bottom:191.999100px;}
.y4{bottom:192.240000px;}
.y7d{bottom:194.160000px;}
.ybb{bottom:199.200000px;}
.y8a{bottom:199.255800px;}
.y8c{bottom:199.855800px;}
.y62{bottom:204.240000px;}
.y2b{bottom:208.440000px;}
.y16{bottom:209.760000px;}
.y92{bottom:211.440000px;}
.ya8{bottom:212.520000px;}
.y3e{bottom:212.681300px;}
.y38{bottom:214.767400px;}
.y3b{bottom:218.147880px;}
.y61{bottom:219.840000px;}
.y46{bottom:220.072320px;}
.y35{bottom:220.200000px;}
.yac{bottom:220.799100px;}
.y7c{bottom:225.840000px;}
.yb4{bottom:228.000000px;}
.ya2{bottom:229.680000px;}
.y33{bottom:231.000000px;}
.yd{bottom:231.840000px;}
.y45{bottom:233.276160px;}
.y91{bottom:234.960000px;}
.y60{bottom:235.439520px;}
.y15{bottom:236.160000px;}
.y37{bottom:236.367400px;}
.y3d{bottom:238.253800px;}
.y34{bottom:241.800000px;}
.yba{bottom:244.320000px;}
.y7b{bottom:244.560000px;}
.y44{bottom:246.480000px;}
.ya7{bottom:247.080000px;}
.y3{bottom:247.805000px;}
.y5f{bottom:247.920000px;}
.yb3{bottom:249.600000px;}
.y2a{bottom:250.961300px;}
.ya1{bottom:251.280000px;}
.y52{bottom:255.000240px;}
.y90{bottom:260.640000px;}
.y48{bottom:261.000000px;}
.y14{bottom:262.560000px;}
.y5e{bottom:263.520000px;}
.y7a{bottom:265.440000px;}
.ya0{bottom:272.880000px;}
.y51{bottom:274.200120px;}
.yc{bottom:277.920000px;}
.y5d{bottom:279.120000px;}
.ya6{bottom:282.720000px;}
.y79{bottom:283.440000px;}
.y24{bottom:284.945800px;}
.yb9{bottom:285.616080px;}
.y13{bottom:288.960000px;}
.y2{bottom:291.005000px;}
.y89{bottom:291.627900px;}
.y50{bottom:293.400000px;}
.y9f{bottom:294.480000px;}
.y5c{bottom:294.720000px;}
.y6f{bottom:295.920000px;}
.y78{bottom:301.440000px;}
.y8f{bottom:306.240000px;}
.y5b{bottom:310.320000px;}
.y3a{bottom:312.633840px;}
.y6e{bottom:313.439520px;}
.y12{bottom:315.360000px;}
.y9e{bottom:316.080000px;}
.y77{bottom:319.440000px;}
.yb{bottom:324.000000px;}
.y5a{bottom:325.920000px;}
.y8e{bottom:329.040000px;}
.y57{bottom:332.808280px;}
.y1{bottom:334.205000px;}
.y25{bottom:335.381200px;}
.y9d{bottom:337.680000px;}
.y76{bottom:338.160000px;}
.y59{bottom:341.520000px;}
.y11{bottom:341.760000px;}
.y4c{bottom:350.280000px;}
.y56{bottom:352.008160px;}
.y8d{bottom:352.560000px;}
.y75{bottom:355.440000px;}
.y47{bottom:356.280000px;}
.y58{bottom:357.600000px;}
.y9c{bottom:359.280000px;}
.y32{bottom:360.883900px;}
.yb8{bottom:364.800000px;}
.y10{bottom:368.160000px;}
.y41{bottom:368.687300px;}
.ya{bottom:369.120000px;}
.y55{bottom:371.208040px;}
.y4f{bottom:375.000000px;}
.y88{bottom:378.976700px;}
.y9b{bottom:380.880000px;}
.y4b{bottom:381.000000px;}
.y31{bottom:382.483900px;}
.yb7{bottom:386.400000px;}
.y74{bottom:388.320000px;}
.y54{bottom:390.407920px;}
.y72{bottom:390.707740px;}
.yf{bottom:394.560000px;}
.y21{bottom:395.141300px;}
.y87{bottom:401.040100px;}
.y39{bottom:407.119800px;}
.yb6{bottom:408.000000px;}
.y53{bottom:409.607800px;}
.y9{bottom:410.400000px;}
.y71{bottom:415.680100px;}
.y73{bottom:417.120000px;}
.y86{bottom:426.960100px;}
.y26{bottom:428.681300px;}
.yb5{bottom:429.600000px;}
.y43{bottom:461.280000px;}
.y7{bottom:468.832080px;}
.y8{bottom:481.560000px;}
.y30{bottom:482.880000px;}
.y6{bottom:502.440000px;}
.y42{bottom:504.480000px;}
.h13{height:25.839844px;}
.hb{height:27.234375px;}
.he{height:31.696875px;}
.hc{height:32.812500px;}
.h19{height:34.453125px;}
.h17{height:37.209375px;}
.h18{height:43.066406px;}
.h14{height:45.822656px;}
.hd{height:49.218750px;}
.h11{height:51.679688px;}
.ha{height:63.049219px;}
.h16{height:63.888750px;}
.h1b{height:68.906250px;}
.h15{height:73.945312px;}
.h1a{height:74.763281px;}
.h1d{height:77.519531px;}
.h1f{height:78.677813px;}
.h3{height:80.275781px;}
.h1c{height:88.734375px;}
.h8{height:91.989844px;}
.h10{height:92.399000px;}
.hf{height:92.400000px;}
.h1e{height:93.466875px;}
.h2{height:103.359375px;}
.h9{height:108.255937px;}
.h5{height:114.728906px;}
.h20{height:118.312500px;}
.h7{height:137.834062px;}
.h6{height:157.947187px;}
.h12{height:268.680000px;}
.h1{height:362.500000px;}
.h4{height:510.000000px;}
.h0{height:540.000000px;}
.w2{width:60.960000px;}
.w1{width:60.961000px;}
.w3{width:392.400000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x1b{left:22.440000px;}
.x52{left:25.200000px;}
.x1e{left:28.682500px;}
.x2b{left:39.410600px;}
.x8{left:43.200000px;}
.x2c{left:52.612500px;}
.xb{left:70.200000px;}
.x35{left:73.190000px;}
.x9{left:79.200000px;}
.x36{left:90.830000px;}
.x34{left:95.750000px;}
.x20{left:98.452500px;}
.x50{left:99.892500px;}
.x24{left:100.978200px;}
.x51{left:109.200000px;}
.x5{left:112.850000px;}
.x45{left:115.200000px;}
.x47{left:133.200000px;}
.x28{left:134.929900px;}
.x44{left:144.290000px;}
.x46{left:151.200000px;}
.x43{left:155.212500px;}
.x18{left:163.200000px;}
.x4e{left:169.200000px;}
.x3e{left:181.372500px;}
.x32{left:186.373940px;}
.x2{left:194.824500px;}
.x2f{left:196.566500px;}
.xe{left:200.287500px;}
.x31{left:202.812500px;}
.x25{left:206.059200px;}
.x33{left:208.089620px;}
.x6{left:211.968200px;}
.x30{left:219.846500px;}
.x49{left:221.572500px;}
.x4f{left:237.652500px;}
.x7{left:251.812500px;}
.x1d{left:258.000000px;}
.x1c{left:259.202500px;}
.x29{left:265.462800px;}
.x3d{left:277.200000px;}
.x13{left:279.862500px;}
.x1{left:286.732500px;}
.x4{left:288.890000px;}
.x4a{left:296.312100px;}
.x14{left:298.102800px;}
.x1a{left:300.000000px;}
.x4d{left:309.532500px;}
.xa{left:315.652500px;}
.x2e{left:324.394500px;}
.x3{left:337.996500px;}
.xd{left:344.307500px;}
.x23{left:347.255200px;}
.x19{left:349.200000px;}
.x21{left:355.797700px;}
.x22{left:363.231700px;}
.xc{left:373.200000px;}
.x2a{left:386.182800px;}
.x2d{left:391.606500px;}
.x11{left:398.075000px;}
.x41{left:400.200000px;}
.x3f{left:409.200000px;}
.x38{left:414.424000px;}
.x53{left:421.200000px;}
.x4c{left:422.607100px;}
.x4b{left:424.769600px;}
.x40{left:431.760000px;}
.xf{left:433.852500px;}
.x39{left:444.064000px;}
.x10{left:446.824900px;}
.x37{left:448.984000px;}
.x1f{left:486.000000px;}
.x15{left:500.587500px;}
.x12{left:507.931200px;}
.x3c{left:510.434000px;}
.x3a{left:558.304000px;}
.x3b{left:564.304000px;}
.x17{left:583.200000px;}
.x27{left:589.929800px;}
.x16{left:595.200000px;}
.x26{left:599.775800px;}
.x48{left:700.440000px;}
.x42{left:706.560000px;}
@media print{
.v1{vertical-align:-6.731200pt;}
.v0{vertical-align:0.000000pt;}
.ls12{letter-spacing:-1.536000pt;}
.lsb{letter-spacing:-1.522560pt;}
.ls30{letter-spacing:-1.200000pt;}
.ls43{letter-spacing:-1.024000pt;}
.ls31{letter-spacing:-0.960000pt;}
.ls34{letter-spacing:-0.595840pt;}
.ls3a{letter-spacing:-0.351360pt;}
.ls42{letter-spacing:-0.341760pt;}
.ls2{letter-spacing:-0.298240pt;}
.ls16{letter-spacing:-0.288000pt;}
.ls28{letter-spacing:-0.277760pt;}
.ls2b{letter-spacing:-0.256000pt;}
.ls32{letter-spacing:-0.240000pt;}
.ls19{letter-spacing:-0.235520pt;}
.lsa{letter-spacing:-0.234240pt;}
.ls39{letter-spacing:-0.213120pt;}
.ls24{letter-spacing:-0.207360pt;}
.ls3b{letter-spacing:-0.202240pt;}
.ls17{letter-spacing:-0.192000pt;}
.ls6{letter-spacing:-0.170880pt;}
.ls3d{letter-spacing:-0.170240pt;}
.ls26{letter-spacing:-0.160000pt;}
.ls46{letter-spacing:-0.149120pt;}
.ls33{letter-spacing:-0.144000pt;}
.ls23{letter-spacing:-0.138240pt;}
.ls44{letter-spacing:-0.128000pt;}
.ls8{letter-spacing:-0.117120pt;}
.lsf{letter-spacing:-0.106240pt;}
.ls13{letter-spacing:-0.096000pt;}
.ls1c{letter-spacing:-0.085120pt;}
.ls1a{letter-spacing:-0.058880pt;}
.ls10{letter-spacing:-0.053120pt;}
.ls1{letter-spacing:0.000000pt;}
.lse{letter-spacing:0.053120pt;}
.ls27{letter-spacing:0.069120pt;}
.ls21{letter-spacing:0.080000pt;}
.ls1d{letter-spacing:0.085120pt;}
.ls14{letter-spacing:0.096000pt;}
.ls3c{letter-spacing:0.101120pt;}
.ls2c{letter-spacing:0.128000pt;}
.ls20{letter-spacing:0.138240pt;}
.ls29{letter-spacing:0.138880pt;}
.ls3e{letter-spacing:0.144000pt;}
.ls11{letter-spacing:0.159360pt;}
.ls18{letter-spacing:0.170240pt;}
.ls0{letter-spacing:0.192000pt;}
.ls22{letter-spacing:0.207360pt;}
.ls40{letter-spacing:0.213120pt;}
.ls9{letter-spacing:0.234240pt;}
.lsd{letter-spacing:0.235520pt;}
.ls1b{letter-spacing:0.240000pt;}
.ls2a{letter-spacing:0.256000pt;}
.ls25{letter-spacing:0.276480pt;}
.ls15{letter-spacing:0.288000pt;}
.ls5{letter-spacing:0.324672pt;}
.ls38{letter-spacing:1.440000pt;}
.ls4{letter-spacing:37.409280pt;}
.ls37{letter-spacing:48.673280pt;}
.ls41{letter-spacing:51.200000pt;}
.ls35{letter-spacing:55.201280pt;}
.ls2f{letter-spacing:57.569280pt;}
.ls36{letter-spacing:60.608000pt;}
.ls2d{letter-spacing:66.944000pt;}
.ls2e{letter-spacing:68.000000pt;}
.ls45{letter-spacing:75.520000pt;}
.ls1f{letter-spacing:81.889280pt;}
.ls3{letter-spacing:84.192000pt;}
.ls7{letter-spacing:103.008000pt;}
.ls3f{letter-spacing:110.400000pt;}
.ls1e{letter-spacing:116.000000pt;}
.lsc{letter-spacing:687.955200pt;}
.ws68{word-spacing:-48.378240pt;}
.ws5f{word-spacing:-47.952000pt;}
.ws0{word-spacing:-43.584000pt;}
.ws7{word-spacing:-38.618880pt;}
.ws8{word-spacing:-38.448000pt;}
.ws75{word-spacing:-38.277120pt;}
.ws76{word-spacing:-33.402880pt;}
.ws62{word-spacing:-32.688000pt;}
.ws63{word-spacing:-32.400000pt;}
.ws4b{word-spacing:-29.056000pt;}
.ws4a{word-spacing:-28.928000pt;}
.ws49{word-spacing:-28.672000pt;}
.ws69{word-spacing:-27.904000pt;}
.wsf{word-spacing:-26.703360pt;}
.wse{word-spacing:-26.352000pt;}
.ws10{word-spacing:-26.234880pt;}
.ws11{word-spacing:-24.946560pt;}
.ws21{word-spacing:-21.984000pt;}
.ws51{word-spacing:-21.888000pt;}
.ws20{word-spacing:-21.792000pt;}
.ws1f{word-spacing:-21.600000pt;}
.ws22{word-spacing:-21.408000pt;}
.ws1e{word-spacing:-20.160000pt;}
.ws31{word-spacing:-19.322240pt;}
.ws61{word-spacing:-19.152000pt;}
.ws60{word-spacing:-19.066880pt;}
.ws5c{word-spacing:-18.641280pt;}
.ws4e{word-spacing:-18.320000pt;}
.ws50{word-spacing:-18.080000pt;}
.ws3b{word-spacing:-17.920000pt;}
.ws4f{word-spacing:-17.120000pt;}
.ws3a{word-spacing:-15.759360pt;}
.ws39{word-spacing:-15.621120pt;}
.ws38{word-spacing:-15.482880pt;}
.ws1c{word-spacing:-14.656000pt;}
.ws2e{word-spacing:-13.248000pt;}
.ws1d{word-spacing:-12.164480pt;}
.ws19{word-spacing:-12.058240pt;}
.ws1b{word-spacing:-11.952000pt;}
.ws1a{word-spacing:-11.898880pt;}
.ws2f{word-spacing:-11.088000pt;}
.ws30{word-spacing:-10.560000pt;}
.ws1{word-spacing:-1.920000pt;}
.ws57{word-spacing:-1.536000pt;}
.ws33{word-spacing:-1.530880pt;}
.ws3{word-spacing:-1.344000pt;}
.ws46{word-spacing:-1.249920pt;}
.ws53{word-spacing:-1.040000pt;}
.ws73{word-spacing:-0.896000pt;}
.ws3d{word-spacing:-0.880000pt;}
.ws3c{word-spacing:-0.852480pt;}
.ws48{word-spacing:-0.833280pt;}
.ws14{word-spacing:-0.819840pt;}
.ws32{word-spacing:-0.768000pt;}
.wsb{word-spacing:-0.683520pt;}
.ws6e{word-spacing:-0.640000pt;}
.ws35{word-spacing:-0.595840pt;}
.ws5a{word-spacing:-0.576000pt;}
.ws59{word-spacing:-0.432000pt;}
.ws56{word-spacing:-0.400000pt;}
.ws71{word-spacing:-0.384000pt;}
.ws45{word-spacing:-0.345600pt;}
.ws4c{word-spacing:-0.256000pt;}
.ws52{word-spacing:-0.240000pt;}
.ws24{word-spacing:-0.235520pt;}
.ws13{word-spacing:-0.234240pt;}
.ws6a{word-spacing:-0.213120pt;}
.ws58{word-spacing:-0.192000pt;}
.ws5e{word-spacing:-0.170240pt;}
.ws43{word-spacing:-0.138240pt;}
.ws4d{word-spacing:-0.128000pt;}
.ws18{word-spacing:-0.117120pt;}
.ws27{word-spacing:-0.096000pt;}
.ws36{word-spacing:-0.085120pt;}
.ws2{word-spacing:0.000000pt;}
.ws44{word-spacing:0.069120pt;}
.ws55{word-spacing:0.080000pt;}
.ws67{word-spacing:0.085120pt;}
.ws2c{word-spacing:0.096000pt;}
.ws66{word-spacing:0.101120pt;}
.ws23{word-spacing:0.117760pt;}
.ws70{word-spacing:0.128000pt;}
.ws3e{word-spacing:0.138240pt;}
.ws5b{word-spacing:0.144000pt;}
.ws29{word-spacing:0.192000pt;}
.ws64{word-spacing:0.202240pt;}
.ws42{word-spacing:0.207360pt;}
.ws6f{word-spacing:0.256000pt;}
.ws47{word-spacing:0.277760pt;}
.ws25{word-spacing:0.288000pt;}
.ws17{word-spacing:0.351360pt;}
.ws5d{word-spacing:0.384000pt;}
.ws65{word-spacing:0.404480pt;}
.ws78{word-spacing:0.447360pt;}
.wsc{word-spacing:0.512640pt;}
.ws26{word-spacing:0.576000pt;}
.ws2b{word-spacing:0.672000pt;}
.ws34{word-spacing:0.680960pt;}
.ws6b{word-spacing:0.683520pt;}
.ws40{word-spacing:0.829440pt;}
.ws4{word-spacing:0.894720pt;}
.ws41{word-spacing:0.898560pt;}
.ws28{word-spacing:0.960000pt;}
.ws72{word-spacing:1.024000pt;}
.ws77{word-spacing:1.043840pt;}
.wsa{word-spacing:1.065600pt;}
.ws16{word-spacing:1.171200pt;}
.ws5{word-spacing:1.192960pt;}
.wsd{word-spacing:1.196160pt;}
.ws3f{word-spacing:1.244160pt;}
.ws2d{word-spacing:1.344000pt;}
.ws74{word-spacing:1.536000pt;}
.ws12{word-spacing:1.639680pt;}
.ws54{word-spacing:1.680000pt;}
.ws15{word-spacing:1.756800pt;}
.ws6{word-spacing:1.789440pt;}
.ws6d{word-spacing:2.087680pt;}
.ws37{word-spacing:2.638720pt;}
.ws2a{word-spacing:2.983680pt;}
.ws6c{word-spacing:3.429760pt;}
.ws9{word-spacing:48.515840pt;}
._2{margin-left:-13.766400pt;}
._6{margin-left:-11.008960pt;}
._0{margin-left:-8.582400pt;}
._5{margin-left:-5.555904pt;}
._3{margin-left:-3.417600pt;}
._1{margin-left:-1.670400pt;}
._4{width:2.642176pt;}
.fs9{font-size:48.000000pt;}
.fs5{font-size:53.120000pt;}
.fs8{font-size:58.880000pt;}
.fs6{font-size:64.000000pt;}
.fsc{font-size:69.120000pt;}
.fsb{font-size:80.000000pt;}
.fsa{font-size:85.120000pt;}
.fs7{font-size:96.000000pt;}
.fs10{font-size:101.120000pt;}
.fs4{font-size:117.120000pt;}
.fse{font-size:128.000000pt;}
.fsd{font-size:138.880000pt;}
.fsf{font-size:144.000000pt;}
.fs1{font-size:149.120000pt;}
.fs3{font-size:170.880000pt;}
.fs0{font-size:192.000000pt;}
.fs2{font-size:213.120000pt;}
.y5{bottom:0.000000pt;}
.y70{bottom:13.726667pt;}
.y0{bottom:40.000000pt;}
.y6d{bottom:40.314880pt;}
.y2c{bottom:56.695067pt;}
.y29{bottom:59.575067pt;}
.y6c{bottom:61.120000pt;}
.y85{bottom:62.080000pt;}
.y9a{bottom:63.360000pt;}
.yb2{bottom:63.998800pt;}
.y1c{bottom:68.485440pt;}
.y6b{bottom:81.920000pt;}
.y84{bottom:90.880000pt;}
.y28{bottom:91.575067pt;}
.y99{bottom:94.720000pt;}
.y27{bottom:99.575067pt;}
.y36{bottom:101.910400pt;}
.y2f{bottom:101.920000pt;}
.yb1{bottom:102.398800pt;}
.y6a{bottom:102.720000pt;}
.y1b{bottom:103.680000pt;}
.yab{bottom:109.440000pt;}
.y40{bottom:115.575067pt;}
.y83{bottom:118.720000pt;}
.y69{bottom:123.520000pt;}
.y98{bottom:128.960000pt;}
.y1a{bottom:138.880000pt;}
.yb0{bottom:140.798800pt;}
.y82{bottom:142.720000pt;}
.y68{bottom:144.320000pt;}
.y8b{bottom:146.604667pt;}
.y4e{bottom:148.000000pt;}
.y4a{bottom:156.000000pt;}
.y97{bottom:158.408640pt;}
.ya5{bottom:159.040000pt;}
.y1e{bottom:160.135067pt;}
.y20{bottom:161.415067pt;}
.y81{bottom:161.920000pt;}
.y3c{bottom:164.826533pt;}
.y67{bottom:165.120000pt;}
.ybd{bottom:165.749440pt;}
.y2e{bottom:165.920000pt;}
.yaa{bottom:169.600000pt;}
.y19{bottom:174.080000pt;}
.y22{bottom:178.215067pt;}
.y96{bottom:178.880000pt;}
.yaf{bottom:179.198800pt;}
.y66{bottom:185.920000pt;}
.y80{bottom:186.880000pt;}
.ya4{bottom:198.421440pt;}
.y95{bottom:205.440000pt;}
.y65{bottom:206.720000pt;}
.y18{bottom:209.280000pt;}
.ybc{bottom:210.560000pt;}
.y4d{bottom:212.000000pt;}
.y7f{bottom:214.720000pt;}
.y1f{bottom:217.415067pt;}
.yae{bottom:217.598800pt;}
.y49{bottom:220.000000pt;}
.y2d{bottom:222.615067pt;}
.ya9{bottom:224.640000pt;}
.y64{bottom:227.520000pt;}
.y94{bottom:234.888640pt;}
.y7e{bottom:238.080000pt;}
.y3f{bottom:243.567067pt;}
.y17{bottom:244.480000pt;}
.y23{bottom:245.894933pt;}
.ye{bottom:247.680000pt;}
.y63{bottom:248.960000pt;}
.ya3{bottom:249.600000pt;}
.y1d{bottom:250.801733pt;}
.y93{bottom:255.360000pt;}
.yad{bottom:255.998800pt;}
.y4{bottom:256.320000pt;}
.y7d{bottom:258.880000pt;}
.ybb{bottom:265.600000pt;}
.y8a{bottom:265.674400pt;}
.y8c{bottom:266.474400pt;}
.y62{bottom:272.320000pt;}
.y2b{bottom:277.920000pt;}
.y16{bottom:279.680000pt;}
.y92{bottom:281.920000pt;}
.ya8{bottom:283.360000pt;}
.y3e{bottom:283.575067pt;}
.y38{bottom:286.356533pt;}
.y3b{bottom:290.863840pt;}
.y61{bottom:293.120000pt;}
.y46{bottom:293.429760pt;}
.y35{bottom:293.600000pt;}
.yac{bottom:294.398800pt;}
.y7c{bottom:301.120000pt;}
.yb4{bottom:304.000000pt;}
.ya2{bottom:306.240000pt;}
.y33{bottom:308.000000pt;}
.yd{bottom:309.120000pt;}
.y45{bottom:311.034880pt;}
.y91{bottom:313.280000pt;}
.y60{bottom:313.919360pt;}
.y15{bottom:314.880000pt;}
.y37{bottom:315.156533pt;}
.y3d{bottom:317.671733pt;}
.y34{bottom:322.400000pt;}
.yba{bottom:325.760000pt;}
.y7b{bottom:326.080000pt;}
.y44{bottom:328.640000pt;}
.ya7{bottom:329.440000pt;}
.y3{bottom:330.406667pt;}
.y5f{bottom:330.560000pt;}
.yb3{bottom:332.800000pt;}
.y2a{bottom:334.615067pt;}
.ya1{bottom:335.040000pt;}
.y52{bottom:340.000320pt;}
.y90{bottom:347.520000pt;}
.y48{bottom:348.000000pt;}
.y14{bottom:350.080000pt;}
.y5e{bottom:351.360000pt;}
.y7a{bottom:353.920000pt;}
.ya0{bottom:363.840000pt;}
.y51{bottom:365.600160pt;}
.yc{bottom:370.560000pt;}
.y5d{bottom:372.160000pt;}
.ya6{bottom:376.960000pt;}
.y79{bottom:377.920000pt;}
.y24{bottom:379.927733pt;}
.yb9{bottom:380.821440pt;}
.y13{bottom:385.280000pt;}
.y2{bottom:388.006667pt;}
.y89{bottom:388.837200pt;}
.y50{bottom:391.200000pt;}
.y9f{bottom:392.640000pt;}
.y5c{bottom:392.960000pt;}
.y6f{bottom:394.560000pt;}
.y78{bottom:401.920000pt;}
.y8f{bottom:408.320000pt;}
.y5b{bottom:413.760000pt;}
.y3a{bottom:416.845120pt;}
.y6e{bottom:417.919360pt;}
.y12{bottom:420.480000pt;}
.y9e{bottom:421.440000pt;}
.y77{bottom:425.920000pt;}
.yb{bottom:432.000000pt;}
.y5a{bottom:434.560000pt;}
.y8e{bottom:438.720000pt;}
.y57{bottom:443.744373pt;}
.y1{bottom:445.606667pt;}
.y25{bottom:447.174933pt;}
.y9d{bottom:450.240000pt;}
.y76{bottom:450.880000pt;}
.y59{bottom:455.360000pt;}
.y11{bottom:455.680000pt;}
.y4c{bottom:467.040000pt;}
.y56{bottom:469.344213pt;}
.y8d{bottom:470.080000pt;}
.y75{bottom:473.920000pt;}
.y47{bottom:475.040000pt;}
.y58{bottom:476.800000pt;}
.y9c{bottom:479.040000pt;}
.y32{bottom:481.178533pt;}
.yb8{bottom:486.400000pt;}
.y10{bottom:490.880000pt;}
.y41{bottom:491.583067pt;}
.ya{bottom:492.160000pt;}
.y55{bottom:494.944053pt;}
.y4f{bottom:500.000000pt;}
.y88{bottom:505.302267pt;}
.y9b{bottom:507.840000pt;}
.y4b{bottom:508.000000pt;}
.y31{bottom:509.978533pt;}
.yb7{bottom:515.200000pt;}
.y74{bottom:517.760000pt;}
.y54{bottom:520.543893pt;}
.y72{bottom:520.943653pt;}
.yf{bottom:526.080000pt;}
.y21{bottom:526.855067pt;}
.y87{bottom:534.720133pt;}
.y39{bottom:542.826400pt;}
.yb6{bottom:544.000000pt;}
.y53{bottom:546.143733pt;}
.y9{bottom:547.200000pt;}
.y71{bottom:554.240133pt;}
.y73{bottom:556.160000pt;}
.y86{bottom:569.280133pt;}
.y26{bottom:571.575067pt;}
.yb5{bottom:572.800000pt;}
.y43{bottom:615.040000pt;}
.y7{bottom:625.109440pt;}
.y8{bottom:642.080000pt;}
.y30{bottom:643.840000pt;}
.y6{bottom:669.920000pt;}
.y42{bottom:672.640000pt;}
.h13{height:34.453125pt;}
.hb{height:36.312500pt;}
.he{height:42.262500pt;}
.hc{height:43.750000pt;}
.h19{height:45.937500pt;}
.h17{height:49.612500pt;}
.h18{height:57.421875pt;}
.h14{height:61.096875pt;}
.hd{height:65.625000pt;}
.h11{height:68.906250pt;}
.ha{height:84.065625pt;}
.h16{height:85.185000pt;}
.h1b{height:91.875000pt;}
.h15{height:98.593750pt;}
.h1a{height:99.684375pt;}
.h1d{height:103.359375pt;}
.h1f{height:104.903750pt;}
.h3{height:107.034375pt;}
.h1c{height:118.312500pt;}
.h8{height:122.653125pt;}
.h10{height:123.198667pt;}
.hf{height:123.200000pt;}
.h1e{height:124.622500pt;}
.h2{height:137.812500pt;}
.h9{height:144.341250pt;}
.h5{height:152.971875pt;}
.h20{height:157.750000pt;}
.h7{height:183.778750pt;}
.h6{height:210.596250pt;}
.h12{height:358.240000pt;}
.h1{height:483.333333pt;}
.h4{height:680.000000pt;}
.h0{height:720.000000pt;}
.w2{width:81.280000pt;}
.w1{width:81.281333pt;}
.w3{width:523.200000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x1b{left:29.920000pt;}
.x52{left:33.600000pt;}
.x1e{left:38.243333pt;}
.x2b{left:52.547467pt;}
.x8{left:57.600000pt;}
.x2c{left:70.150000pt;}
.xb{left:93.600000pt;}
.x35{left:97.586667pt;}
.x9{left:105.600000pt;}
.x36{left:121.106667pt;}
.x34{left:127.666667pt;}
.x20{left:131.270000pt;}
.x50{left:133.190000pt;}
.x24{left:134.637600pt;}
.x51{left:145.600000pt;}
.x5{left:150.466667pt;}
.x45{left:153.600000pt;}
.x47{left:177.600000pt;}
.x28{left:179.906533pt;}
.x44{left:192.386667pt;}
.x46{left:201.600000pt;}
.x43{left:206.950000pt;}
.x18{left:217.600000pt;}
.x4e{left:225.600000pt;}
.x3e{left:241.830000pt;}
.x32{left:248.498587pt;}
.x2{left:259.766000pt;}
.x2f{left:262.088667pt;}
.xe{left:267.050000pt;}
.x31{left:270.416667pt;}
.x25{left:274.745600pt;}
.x33{left:277.452827pt;}
.x6{left:282.624267pt;}
.x30{left:293.128667pt;}
.x49{left:295.430000pt;}
.x4f{left:316.870000pt;}
.x7{left:335.750000pt;}
.x1d{left:344.000000pt;}
.x1c{left:345.603333pt;}
.x29{left:353.950400pt;}
.x3d{left:369.600000pt;}
.x13{left:373.150000pt;}
.x1{left:382.310000pt;}
.x4{left:385.186667pt;}
.x4a{left:395.082800pt;}
.x14{left:397.470400pt;}
.x1a{left:400.000000pt;}
.x4d{left:412.710000pt;}
.xa{left:420.870000pt;}
.x2e{left:432.526000pt;}
.x3{left:450.662000pt;}
.xd{left:459.076667pt;}
.x23{left:463.006933pt;}
.x19{left:465.600000pt;}
.x21{left:474.396933pt;}
.x22{left:484.308933pt;}
.xc{left:497.600000pt;}
.x2a{left:514.910400pt;}
.x2d{left:522.142000pt;}
.x11{left:530.766667pt;}
.x41{left:533.600000pt;}
.x3f{left:545.600000pt;}
.x38{left:552.565333pt;}
.x53{left:561.600000pt;}
.x4c{left:563.476133pt;}
.x4b{left:566.359467pt;}
.x40{left:575.680000pt;}
.xf{left:578.470000pt;}
.x39{left:592.085333pt;}
.x10{left:595.766533pt;}
.x37{left:598.645333pt;}
.x1f{left:648.000000pt;}
.x15{left:667.450000pt;}
.x12{left:677.241600pt;}
.x3c{left:680.578667pt;}
.x3a{left:744.405333pt;}
.x3b{left:752.405333pt;}
.x17{left:777.600000pt;}
.x27{left:786.573067pt;}
.x16{left:793.600000pt;}
.x26{left:799.701067pt;}
.x48{left:933.920000pt;}
.x42{left:942.080000pt;}
}
