.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.869629;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.727539;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.758789;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls7{letter-spacing:0.185120px;}
.ls3{letter-spacing:43.902400px;}
.ls6{letter-spacing:43.910400px;}
.ls2{letter-spacing:43.936000px;}
.ls5{letter-spacing:43.944000px;}
.ls4{letter-spacing:62.176000px;}
.ls1{letter-spacing:70.584000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:-12.279936px;}
.ws1{word-spacing:-12.258240px;}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-7.073568px;}
._2{margin-left:-5.762304px;}
._1{margin-left:-4.081632px;}
._0{margin-left:-2.881152px;}
._4{margin-left:-1.154880px;}
._3{width:1.001632px;}
._5{width:284.451712px;}
.fc2{color:rgb(91,155,213);}
.fc1{color:rgb(5,99,193);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:54.240000px;}
.fs6{font-size:54.336000px;}
.fs9{font-size:56.160000px;}
.fs8{font-size:56.256000px;}
.fsa{font-size:72.000000px;}
.fsb{font-size:80.160000px;}
.fsc{font-size:80.256000px;}
.fs3{font-size:96.000000px;}
.fs2{font-size:96.096000px;}
.fsd{font-size:111.840000px;}
.fse{font-size:111.936000px;}
.fs4{font-size:128.160000px;}
.fs7{font-size:176.256000px;}
.fs1{font-size:240.000000px;}
.fs0{font-size:240.096000px;}
.y4b{bottom:-63.432000px;}
.y4a{bottom:-28.488000px;}
.y0{bottom:0.000000px;}
.y49{bottom:0.672000px;}
.y17{bottom:6.264000px;}
.y32{bottom:14.016000px;}
.y13{bottom:19.176000px;}
.y16{bottom:23.064000px;}
.ya{bottom:25.200000px;}
.y48{bottom:29.952000px;}
.y31{bottom:38.016000px;}
.y15{bottom:39.864000px;}
.y12{bottom:40.800000px;}
.y9{bottom:41.400000px;}
.y14{bottom:56.664000px;}
.y26{bottom:57.240000px;}
.y47{bottom:59.136000px;}
.y30{bottom:62.016000px;}
.y11{bottom:72.024000px;}
.y25{bottom:78.840000px;}
.y4f{bottom:83.736000px;}
.y2f{bottom:86.040000px;}
.y46{bottom:88.296000px;}
.y10{bottom:88.824000px;}
.yf{bottom:105.620000px;}
.y2e{bottom:110.040000px;}
.y24{bottom:113.090000px;}
.y4e{bottom:113.980000px;}
.y45{bottom:117.580000px;}
.y44{bottom:136.780000px;}
.y4d{bottom:144.240000px;}
.y23{bottom:151.250000px;}
.y5{bottom:154.870000px;}
.y43{bottom:156.000000px;}
.y8{bottom:159.860000px;}
.y2d{bottom:167.930000px;}
.y22{bottom:172.870000px;}
.y4c{bottom:174.480000px;}
.y7{bottom:176.060000px;}
.y42{bottom:185.160000px;}
.y4{bottom:187.990000px;}
.y21{bottom:199.510000px;}
.y41{bottom:204.360000px;}
.y2c{bottom:218.180000px;}
.y3{bottom:220.990000px;}
.y20{bottom:226.030000px;}
.y40{bottom:233.520000px;}
.y2b{bottom:244.820000px;}
.yd{bottom:246.310000px;}
.y3f{bottom:252.720000px;}
.y1f{bottom:257.710000px;}
.y2a{bottom:271.370000px;}
.y3e{bottom:271.940000px;}
.y2{bottom:283.010000px;}
.y1e{bottom:284.260000px;}
.y29{bottom:298.010000px;}
.y3d{bottom:301.220000px;}
.y1d{bottom:310.900000px;}
.y3c{bottom:320.420000px;}
.yc{bottom:323.690000px;}
.y1c{bottom:332.500000px;}
.y3b{bottom:339.620000px;}
.yb{bottom:339.890000px;}
.y36{bottom:344.690000px;}
.y1{bottom:347.810000px;}
.y1b{bottom:359.140000px;}
.y35{bottom:368.690000px;}
.y3a{bottom:368.810000px;}
.y1a{bottom:385.680000px;}
.y39{bottom:388.010000px;}
.y34{bottom:392.690000px;}
.y38{bottom:407.210000px;}
.y19{bottom:412.320000px;}
.y33{bottom:416.710000px;}
.y28{bottom:462.120000px;}
.y18{bottom:466.130000px;}
.ye{bottom:473.520000px;}
.y37{bottom:478.920000px;}
.y6{bottom:482.400000px;}
.y27{bottom:492.380000px;}
.h6{height:38.932031px;}
.h7{height:39.000937px;}
.ha{height:40.310156px;}
.h9{height:40.379063px;}
.hb{height:51.679688px;}
.hc{height:57.536719px;}
.hd{height:57.605625px;}
.h10{height:59.376328px;}
.h4{height:68.906250px;}
.h3{height:68.975156px;}
.hf{height:77.326875px;}
.he{height:80.275781px;}
.h11{height:80.344687px;}
.h5{height:88.610625px;}
.h8{height:121.864500px;}
.h2{height:165.937500px;}
.h1{height:166.003875px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.xa{left:56.712000px;}
.xe{left:64.824000px;}
.xb{left:66.168000px;}
.x6{left:68.616000px;}
.x7{left:71.520000px;}
.x8{left:74.424000px;}
.xf{left:92.712000px;}
.x10{left:110.710000px;}
.x1{left:121.630000px;}
.x2{left:136.990000px;}
.x11{left:162.480000px;}
.x13{left:168.960000px;}
.x12{left:178.220000px;}
.x4{left:190.750000px;}
.x14{left:215.900000px;}
.x15{left:220.220000px;}
.x5{left:221.470000px;}
.xc{left:243.500000px;}
.x3{left:276.940000px;}
.x9{left:295.800000px;}
.xd{left:470.040000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls7{letter-spacing:0.246827pt;}
.ls3{letter-spacing:58.536533pt;}
.ls6{letter-spacing:58.547200pt;}
.ls2{letter-spacing:58.581333pt;}
.ls5{letter-spacing:58.592000pt;}
.ls4{letter-spacing:82.901333pt;}
.ls1{letter-spacing:94.112000pt;}
.ws2{word-spacing:-16.373248pt;}
.ws1{word-spacing:-16.344320pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-9.431424pt;}
._2{margin-left:-7.683072pt;}
._1{margin-left:-5.442176pt;}
._0{margin-left:-3.841536pt;}
._4{margin-left:-1.539840pt;}
._3{width:1.335509pt;}
._5{width:379.268949pt;}
.fs5{font-size:72.320000pt;}
.fs6{font-size:72.448000pt;}
.fs9{font-size:74.880000pt;}
.fs8{font-size:75.008000pt;}
.fsa{font-size:96.000000pt;}
.fsb{font-size:106.880000pt;}
.fsc{font-size:107.008000pt;}
.fs3{font-size:128.000000pt;}
.fs2{font-size:128.128000pt;}
.fsd{font-size:149.120000pt;}
.fse{font-size:149.248000pt;}
.fs4{font-size:170.880000pt;}
.fs7{font-size:235.008000pt;}
.fs1{font-size:320.000000pt;}
.fs0{font-size:320.128000pt;}
.y4b{bottom:-84.576000pt;}
.y4a{bottom:-37.984000pt;}
.y0{bottom:0.000000pt;}
.y49{bottom:0.896000pt;}
.y17{bottom:8.352000pt;}
.y32{bottom:18.688000pt;}
.y13{bottom:25.568000pt;}
.y16{bottom:30.752000pt;}
.ya{bottom:33.600000pt;}
.y48{bottom:39.936000pt;}
.y31{bottom:50.688000pt;}
.y15{bottom:53.152000pt;}
.y12{bottom:54.400000pt;}
.y9{bottom:55.200000pt;}
.y14{bottom:75.552000pt;}
.y26{bottom:76.320000pt;}
.y47{bottom:78.848000pt;}
.y30{bottom:82.688000pt;}
.y11{bottom:96.032000pt;}
.y25{bottom:105.120000pt;}
.y4f{bottom:111.648000pt;}
.y2f{bottom:114.720000pt;}
.y46{bottom:117.728000pt;}
.y10{bottom:118.432000pt;}
.yf{bottom:140.826667pt;}
.y2e{bottom:146.720000pt;}
.y24{bottom:150.786667pt;}
.y4e{bottom:151.973333pt;}
.y45{bottom:156.773333pt;}
.y44{bottom:182.373333pt;}
.y4d{bottom:192.320000pt;}
.y23{bottom:201.666667pt;}
.y5{bottom:206.493333pt;}
.y43{bottom:208.000000pt;}
.y8{bottom:213.146667pt;}
.y2d{bottom:223.906667pt;}
.y22{bottom:230.493333pt;}
.y4c{bottom:232.640000pt;}
.y7{bottom:234.746667pt;}
.y42{bottom:246.880000pt;}
.y4{bottom:250.653333pt;}
.y21{bottom:266.013333pt;}
.y41{bottom:272.480000pt;}
.y2c{bottom:290.906667pt;}
.y3{bottom:294.653333pt;}
.y20{bottom:301.373333pt;}
.y40{bottom:311.360000pt;}
.y2b{bottom:326.426667pt;}
.yd{bottom:328.413333pt;}
.y3f{bottom:336.960000pt;}
.y1f{bottom:343.613333pt;}
.y2a{bottom:361.826667pt;}
.y3e{bottom:362.586667pt;}
.y2{bottom:377.346667pt;}
.y1e{bottom:379.013333pt;}
.y29{bottom:397.346667pt;}
.y3d{bottom:401.626667pt;}
.y1d{bottom:414.533333pt;}
.y3c{bottom:427.226667pt;}
.yc{bottom:431.586667pt;}
.y1c{bottom:443.333333pt;}
.y3b{bottom:452.826667pt;}
.yb{bottom:453.186667pt;}
.y36{bottom:459.586667pt;}
.y1{bottom:463.746667pt;}
.y1b{bottom:478.853333pt;}
.y35{bottom:491.586667pt;}
.y3a{bottom:491.746667pt;}
.y1a{bottom:514.240000pt;}
.y39{bottom:517.346667pt;}
.y34{bottom:523.586667pt;}
.y38{bottom:542.946667pt;}
.y19{bottom:549.760000pt;}
.y33{bottom:555.613333pt;}
.y28{bottom:616.160000pt;}
.y18{bottom:621.506667pt;}
.ye{bottom:631.360000pt;}
.y37{bottom:638.560000pt;}
.y6{bottom:643.200000pt;}
.y27{bottom:656.506667pt;}
.h6{height:51.909375pt;}
.h7{height:52.001250pt;}
.ha{height:53.746875pt;}
.h9{height:53.838750pt;}
.hb{height:68.906250pt;}
.hc{height:76.715625pt;}
.hd{height:76.807500pt;}
.h10{height:79.168437pt;}
.h4{height:91.875000pt;}
.h3{height:91.966875pt;}
.hf{height:103.102500pt;}
.he{height:107.034375pt;}
.h11{height:107.126250pt;}
.h5{height:118.147500pt;}
.h8{height:162.486000pt;}
.h2{height:221.250000pt;}
.h1{height:221.338500pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.xa{left:75.616000pt;}
.xe{left:86.432000pt;}
.xb{left:88.224000pt;}
.x6{left:91.488000pt;}
.x7{left:95.360000pt;}
.x8{left:99.232000pt;}
.xf{left:123.616000pt;}
.x10{left:147.613333pt;}
.x1{left:162.173333pt;}
.x2{left:182.653333pt;}
.x11{left:216.640000pt;}
.x13{left:225.280000pt;}
.x12{left:237.626667pt;}
.x4{left:254.333333pt;}
.x14{left:287.866667pt;}
.x15{left:293.626667pt;}
.x5{left:295.293333pt;}
.xc{left:324.666667pt;}
.x3{left:369.253333pt;}
.x9{left:394.400000pt;}
.xd{left:626.720000pt;}
}
