.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.722656;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lse{letter-spacing:-0.897120px;}
.lsc{letter-spacing:-0.864000px;}
.lsd{letter-spacing:-0.256320px;}
.lsb{letter-spacing:-0.192000px;}
.lsf{letter-spacing:-0.144000px;}
.lsa{letter-spacing:-0.128160px;}
.ls1{letter-spacing:0.000000px;}
.ls5{letter-spacing:0.096000px;}
.ls10{letter-spacing:0.128160px;}
.ls0{letter-spacing:0.144000px;}
.ls4{letter-spacing:0.192000px;}
.ls2{letter-spacing:0.864000px;}
.ls6{letter-spacing:131.904000px;}
.ls7{letter-spacing:226.944000px;}
.ls9{letter-spacing:243.264000px;}
.ls3{letter-spacing:353.184000px;}
.ls8{letter-spacing:541.824000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws15{word-spacing:-32.400000px;}
.ws4{word-spacing:-21.888000px;}
.ws3{word-spacing:-21.792000px;}
.ws5{word-spacing:-21.696000px;}
.ws7{word-spacing:-21.504000px;}
.ws6{word-spacing:-20.832000px;}
.ws0{word-spacing:-1.440000px;}
.wsf{word-spacing:-1.248000px;}
.ws1{word-spacing:-1.008000px;}
.wsd{word-spacing:-0.864000px;}
.ws12{word-spacing:-0.768000px;}
.wsc{word-spacing:-0.672000px;}
.ws10{word-spacing:-0.576000px;}
.ws18{word-spacing:-0.512640px;}
.wsa{word-spacing:-0.384000px;}
.ws17{word-spacing:-0.288000px;}
.wse{word-spacing:-0.192000px;}
.ws19{word-spacing:-0.144000px;}
.ws16{word-spacing:-0.128160px;}
.wsb{word-spacing:-0.096000px;}
.ws2{word-spacing:0.000000px;}
.ws11{word-spacing:0.128160px;}
.ws9{word-spacing:0.192000px;}
.ws13{word-spacing:0.256320px;}
.ws8{word-spacing:0.384480px;}
.ws14{word-spacing:0.897120px;}
._7{margin-left:-11.673600px;}
._6{margin-left:-10.006896px;}
._3{margin-left:-7.680000px;}
._0{margin-left:-4.939200px;}
._2{margin-left:-2.304000px;}
._1{margin-left:-1.252800px;}
._4{width:1.632000px;}
._5{width:362.688000px;}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(32,66,90);}
.fs2{font-size:96.000000px;}
.fs1{font-size:128.160000px;}
.fs0{font-size:144.000000px;}
.yd{bottom:0.000000px;}
.y18{bottom:1.500000px;}
.y11{bottom:6.000000px;}
.y17{bottom:10.500000px;}
.y12{bottom:11.500000px;}
.y0{bottom:30.000000px;}
.yc{bottom:86.568000px;}
.yb{bottom:115.368000px;}
.ya{bottom:169.032000px;}
.y16{bottom:211.560000px;}
.y9{bottom:222.696000px;}
.y15{bottom:240.360000px;}
.y8{bottom:258.696000px;}
.y14{bottom:269.160000px;}
.y2{bottom:269.405000px;}
.y7{bottom:287.496000px;}
.y13{bottom:297.960000px;}
.y1{bottom:312.605000px;}
.y6{bottom:323.496000px;}
.y5{bottom:352.296000px;}
.y4{bottom:405.960000px;}
.y1b{bottom:433.816080px;}
.y1f{bottom:443.280000px;}
.y1d{bottom:461.280000px;}
.y10{bottom:465.016080px;}
.y1a{bottom:472.200000px;}
.y3{bottom:484.200000px;}
.y1e{bottom:486.480000px;}
.ye{bottom:493.797300px;}
.yf{bottom:503.400000px;}
.y1c{bottom:504.480000px;}
.y19{bottom:510.600000px;}
.h5{height:65.250000px;}
.h6{height:66.515625px;}
.h7{height:68.415000px;}
.h4{height:88.798359px;}
.h2{height:99.773438px;}
.h1{height:362.500000px;}
.h3{height:510.000000px;}
.h9{height:528.500000px;}
.ha{height:529.500000px;}
.h8{height:534.000000px;}
.hb{height:538.500000px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x4{left:25.200000px;}
.x6{left:96.652500px;}
.xc{left:109.730000px;}
.x3{left:114.050000px;}
.xb{left:125.565060px;}
.x12{left:133.237620px;}
.x10{left:143.699700px;}
.x8{left:150.632840px;}
.xe{left:154.850000px;}
.x14{left:177.880500px;}
.xd{left:192.649520px;}
.x1{left:193.970000px;}
.x2{left:200.198000px;}
.x13{left:207.652500px;}
.x7{left:222.050000px;}
.xa{left:234.052500px;}
.x11{left:271.490000px;}
.x5{left:282.600000px;}
.xf{left:314.930000px;}
.x9{left:365.210300px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lse{letter-spacing:-1.196160pt;}
.lsc{letter-spacing:-1.152000pt;}
.lsd{letter-spacing:-0.341760pt;}
.lsb{letter-spacing:-0.256000pt;}
.lsf{letter-spacing:-0.192000pt;}
.lsa{letter-spacing:-0.170880pt;}
.ls1{letter-spacing:0.000000pt;}
.ls5{letter-spacing:0.128000pt;}
.ls10{letter-spacing:0.170880pt;}
.ls0{letter-spacing:0.192000pt;}
.ls4{letter-spacing:0.256000pt;}
.ls2{letter-spacing:1.152000pt;}
.ls6{letter-spacing:175.872000pt;}
.ls7{letter-spacing:302.592000pt;}
.ls9{letter-spacing:324.352000pt;}
.ls3{letter-spacing:470.912000pt;}
.ls8{letter-spacing:722.432000pt;}
.ws15{word-spacing:-43.200000pt;}
.ws4{word-spacing:-29.184000pt;}
.ws3{word-spacing:-29.056000pt;}
.ws5{word-spacing:-28.928000pt;}
.ws7{word-spacing:-28.672000pt;}
.ws6{word-spacing:-27.776000pt;}
.ws0{word-spacing:-1.920000pt;}
.wsf{word-spacing:-1.664000pt;}
.ws1{word-spacing:-1.344000pt;}
.wsd{word-spacing:-1.152000pt;}
.ws12{word-spacing:-1.024000pt;}
.wsc{word-spacing:-0.896000pt;}
.ws10{word-spacing:-0.768000pt;}
.ws18{word-spacing:-0.683520pt;}
.wsa{word-spacing:-0.512000pt;}
.ws17{word-spacing:-0.384000pt;}
.wse{word-spacing:-0.256000pt;}
.ws19{word-spacing:-0.192000pt;}
.ws16{word-spacing:-0.170880pt;}
.wsb{word-spacing:-0.128000pt;}
.ws2{word-spacing:0.000000pt;}
.ws11{word-spacing:0.170880pt;}
.ws9{word-spacing:0.256000pt;}
.ws13{word-spacing:0.341760pt;}
.ws8{word-spacing:0.512640pt;}
.ws14{word-spacing:1.196160pt;}
._7{margin-left:-15.564800pt;}
._6{margin-left:-13.342528pt;}
._3{margin-left:-10.240000pt;}
._0{margin-left:-6.585600pt;}
._2{margin-left:-3.072000pt;}
._1{margin-left:-1.670400pt;}
._4{width:2.176000pt;}
._5{width:483.584000pt;}
.fs2{font-size:128.000000pt;}
.fs1{font-size:170.880000pt;}
.fs0{font-size:192.000000pt;}
.yd{bottom:0.000000pt;}
.y18{bottom:2.000000pt;}
.y11{bottom:8.000000pt;}
.y17{bottom:14.000000pt;}
.y12{bottom:15.333333pt;}
.y0{bottom:40.000000pt;}
.yc{bottom:115.424000pt;}
.yb{bottom:153.824000pt;}
.ya{bottom:225.376000pt;}
.y16{bottom:282.080000pt;}
.y9{bottom:296.928000pt;}
.y15{bottom:320.480000pt;}
.y8{bottom:344.928000pt;}
.y14{bottom:358.880000pt;}
.y2{bottom:359.206667pt;}
.y7{bottom:383.328000pt;}
.y13{bottom:397.280000pt;}
.y1{bottom:416.806667pt;}
.y6{bottom:431.328000pt;}
.y5{bottom:469.728000pt;}
.y4{bottom:541.280000pt;}
.y1b{bottom:578.421440pt;}
.y1f{bottom:591.040000pt;}
.y1d{bottom:615.040000pt;}
.y10{bottom:620.021440pt;}
.y1a{bottom:629.600000pt;}
.y3{bottom:645.600000pt;}
.y1e{bottom:648.640000pt;}
.ye{bottom:658.396400pt;}
.yf{bottom:671.200000pt;}
.y1c{bottom:672.640000pt;}
.y19{bottom:680.800000pt;}
.h5{height:87.000000pt;}
.h6{height:88.687500pt;}
.h7{height:91.220000pt;}
.h4{height:118.397813pt;}
.h2{height:133.031250pt;}
.h1{height:483.333333pt;}
.h3{height:680.000000pt;}
.h9{height:704.666667pt;}
.ha{height:706.000000pt;}
.h8{height:712.000000pt;}
.hb{height:718.000000pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x4{left:33.600000pt;}
.x6{left:128.870000pt;}
.xc{left:146.306667pt;}
.x3{left:152.066667pt;}
.xb{left:167.420080pt;}
.x12{left:177.650160pt;}
.x10{left:191.599600pt;}
.x8{left:200.843787pt;}
.xe{left:206.466667pt;}
.x14{left:237.174000pt;}
.xd{left:256.866027pt;}
.x1{left:258.626667pt;}
.x2{left:266.930667pt;}
.x13{left:276.870000pt;}
.x7{left:296.066667pt;}
.xa{left:312.070000pt;}
.x11{left:361.986667pt;}
.x5{left:376.800000pt;}
.xf{left:419.906667pt;}
.x9{left:486.947067pt;}
}
