.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.860352;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.727539;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v1{vertical-align:-5.280000px;}
.v0{vertical-align:0.000000px;}
.v2{vertical-align:2.960000px;}
.ls1{letter-spacing:0.000000px;}
.ls0{letter-spacing:0.192000px;}
.ls2{letter-spacing:0.195600px;}
.ls6{letter-spacing:41.496960px;}
.ls3{letter-spacing:63.110400px;}
.ls4{letter-spacing:63.144000px;}
.ls5{letter-spacing:74.366400px;}
.ls7{letter-spacing:74.400000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:-12.909456px;}
.ws1{word-spacing:0.000000px;}
._4{margin-left:-8.377440px;}
._1{margin-left:-5.763840px;}
._b{margin-left:-4.643648px;}
._2{margin-left:-2.858880px;}
._0{margin-left:-1.787520px;}
._6{width:1.211520px;}
._3{width:66.982400px;}
._5{width:68.179520px;}
._a{width:147.423680px;}
._9{width:170.295200px;}
._8{width:173.255200px;}
._7{width:174.599200px;}
.fc3{color:rgb(64,49,82);}
.fc2{color:rgb(152,72,7);}
.fc4{color:rgb(0,0,0);}
.fc1{color:rgb(79,129,189);}
.fc0{color:rgb(255,255,255);}
.fs6{font-size:48.000000px;}
.fsc{font-size:48.096000px;}
.fs4{font-size:56.160000px;}
.fs9{font-size:56.256000px;}
.fs0{font-size:63.840000px;}
.fsa{font-size:63.936000px;}
.fs5{font-size:72.000000px;}
.fs8{font-size:72.096000px;}
.fs2{font-size:80.160000px;}
.fs3{font-size:80.256000px;}
.fs11{font-size:87.840000px;}
.fs7{font-size:96.000000px;}
.fs10{font-size:96.096000px;}
.fse{font-size:128.160000px;}
.fsd{font-size:128.256000px;}
.fs1{font-size:144.096000px;}
.fsf{font-size:176.160000px;}
.fsb{font-size:176.256000px;}
.y0{bottom:0.000000px;}
.y5{bottom:19.992000px;}
.y14{bottom:37.752000px;}
.y4{bottom:44.016000px;}
.y2{bottom:93.288000px;}
.y3a{bottom:99.840000px;}
.y1{bottom:112.490000px;}
.y39{bottom:134.420000px;}
.yf{bottom:135.720000px;}
.y17{bottom:156.290000px;}
.ye{bottom:157.080000px;}
.y38{bottom:163.220000px;}
.y2b{bottom:165.290000px;}
.yd{bottom:182.640000px;}
.y11{bottom:185.810000px;}
.y21{bottom:187.180000px;}
.y26{bottom:189.170000px;}
.y2a{bottom:189.290000px;}
.y9{bottom:191.620000px;}
.y2f{bottom:195.980000px;}
.yc{bottom:197.040000px;}
.y37{bottom:197.810000px;}
.y20{bottom:208.540000px;}
.y25{bottom:210.550000px;}
.y8{bottom:213.220000px;}
.yb{bottom:213.600000px;}
.y10{bottom:215.040000px;}
.y36{bottom:226.610000px;}
.y1f{bottom:234.100000px;}
.y7{bottom:234.820000px;}
.y24{bottom:236.110000px;}
.ya{bottom:237.620000px;}
.y22{bottom:242.090000px;}
.y27{bottom:247.060000px;}
.y1e{bottom:250.680000px;}
.y23{bottom:252.670000px;}
.y16{bottom:256.900000px;}
.y35{bottom:260.570000px;}
.y2e{bottom:288.170000px;}
.y34{bottom:292.250000px;}
.y29{bottom:294.310000px;}
.y28{bottom:318.310000px;}
.y19{bottom:318.530000px;}
.y33{bottom:323.950000px;}
.y15{bottom:328.800000px;}
.y2d{bottom:334.270000px;}
.y18{bottom:335.330000px;}
.y32{bottom:355.630000px;}
.y12{bottom:368.280000px;}
.y2c{bottom:380.350000px;}
.y31{bottom:387.910000px;}
.y1a{bottom:402.620000px;}
.y13{bottom:420.340000px;}
.y1d{bottom:458.590000px;}
.y6{bottom:469.870000px;}
.y1c{bottom:473.330000px;}
.y30{bottom:482.420000px;}
.y3{bottom:510.170000px;}
.y1b{bottom:514.100000px;}
.h7{height:34.453125px;}
.h10{height:34.522031px;}
.hc{height:40.310156px;}
.hb{height:40.379063px;}
.h1{height:45.822656px;}
.hd{height:46.091563px;}
.h5{height:46.399688px;}
.h9{height:46.750156px;}
.he{height:49.183594px;}
.h6{height:51.679688px;}
.ha{height:51.748594px;}
.h3{height:57.536719px;}
.h4{height:57.605625px;}
.h15{height:63.049219px;}
.h8{height:68.906250px;}
.h14{height:68.975156px;}
.h12{height:91.989844px;}
.h11{height:92.058750px;}
.h2{height:98.432766px;}
.h13{height:126.442969px;}
.hf{height:126.511875px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x22{left:19.200000px;}
.x8{left:28.656000px;}
.x9{left:33.216000px;}
.x1{left:35.256000px;}
.x7{left:36.336000px;}
.x6{left:37.464000px;}
.x23{left:46.200000px;}
.xe{left:49.704000px;}
.x2{left:54.696000px;}
.xf{left:76.200000px;}
.x19{left:95.112000px;}
.x11{left:112.130000px;}
.x3{left:120.100000px;}
.x20{left:204.100000px;}
.x1f{left:235.730000px;}
.xb{left:242.640000px;}
.xc{left:253.610000px;}
.xd{left:254.880000px;}
.x1e{left:274.080000px;}
.x4{left:291.720000px;}
.x21{left:300.580000px;}
.x12{left:306.120000px;}
.x5{left:308.880000px;}
.xa{left:328.100000px;}
.x10{left:438.580000px;}
.x13{left:457.150000px;}
.x1d{left:520.080000px;}
.x1b{left:538.850000px;}
.x18{left:556.010000px;}
.x1c{left:557.930000px;}
.x14{left:573.460000px;}
.x16{left:575.980000px;}
.x15{left:589.420000px;}
.x1a{left:593.330000px;}
.x17{left:620.420000px;}
@media print{
.v1{vertical-align:-7.040000pt;}
.v0{vertical-align:0.000000pt;}
.v2{vertical-align:3.946667pt;}
.ls1{letter-spacing:0.000000pt;}
.ls0{letter-spacing:0.256000pt;}
.ls2{letter-spacing:0.260800pt;}
.ls6{letter-spacing:55.329280pt;}
.ls3{letter-spacing:84.147200pt;}
.ls4{letter-spacing:84.192000pt;}
.ls5{letter-spacing:99.155200pt;}
.ls7{letter-spacing:99.200000pt;}
.ws0{word-spacing:-17.212608pt;}
.ws1{word-spacing:0.000000pt;}
._4{margin-left:-11.169920pt;}
._1{margin-left:-7.685120pt;}
._b{margin-left:-6.191531pt;}
._2{margin-left:-3.811840pt;}
._0{margin-left:-2.383360pt;}
._6{width:1.615360pt;}
._3{width:89.309867pt;}
._5{width:90.906027pt;}
._a{width:196.564907pt;}
._9{width:227.060267pt;}
._8{width:231.006933pt;}
._7{width:232.798933pt;}
.fs6{font-size:64.000000pt;}
.fsc{font-size:64.128000pt;}
.fs4{font-size:74.880000pt;}
.fs9{font-size:75.008000pt;}
.fs0{font-size:85.120000pt;}
.fsa{font-size:85.248000pt;}
.fs5{font-size:96.000000pt;}
.fs8{font-size:96.128000pt;}
.fs2{font-size:106.880000pt;}
.fs3{font-size:107.008000pt;}
.fs11{font-size:117.120000pt;}
.fs7{font-size:128.000000pt;}
.fs10{font-size:128.128000pt;}
.fse{font-size:170.880000pt;}
.fsd{font-size:171.008000pt;}
.fs1{font-size:192.128000pt;}
.fsf{font-size:234.880000pt;}
.fsb{font-size:235.008000pt;}
.y0{bottom:0.000000pt;}
.y5{bottom:26.656000pt;}
.y14{bottom:50.336000pt;}
.y4{bottom:58.688000pt;}
.y2{bottom:124.384000pt;}
.y3a{bottom:133.120000pt;}
.y1{bottom:149.986667pt;}
.y39{bottom:179.226667pt;}
.yf{bottom:180.960000pt;}
.y17{bottom:208.386667pt;}
.ye{bottom:209.440000pt;}
.y38{bottom:217.626667pt;}
.y2b{bottom:220.386667pt;}
.yd{bottom:243.520000pt;}
.y11{bottom:247.746667pt;}
.y21{bottom:249.573333pt;}
.y26{bottom:252.226667pt;}
.y2a{bottom:252.386667pt;}
.y9{bottom:255.493333pt;}
.y2f{bottom:261.306667pt;}
.yc{bottom:262.720000pt;}
.y37{bottom:263.746667pt;}
.y20{bottom:278.053333pt;}
.y25{bottom:280.733333pt;}
.y8{bottom:284.293333pt;}
.yb{bottom:284.800000pt;}
.y10{bottom:286.720000pt;}
.y36{bottom:302.146667pt;}
.y1f{bottom:312.133333pt;}
.y7{bottom:313.093333pt;}
.y24{bottom:314.813333pt;}
.ya{bottom:316.826667pt;}
.y22{bottom:322.786667pt;}
.y27{bottom:329.413333pt;}
.y1e{bottom:334.240000pt;}
.y23{bottom:336.893333pt;}
.y16{bottom:342.533333pt;}
.y35{bottom:347.426667pt;}
.y2e{bottom:384.226667pt;}
.y34{bottom:389.666667pt;}
.y29{bottom:392.413333pt;}
.y28{bottom:424.413333pt;}
.y19{bottom:424.706667pt;}
.y33{bottom:431.933333pt;}
.y15{bottom:438.400000pt;}
.y2d{bottom:445.693333pt;}
.y18{bottom:447.106667pt;}
.y32{bottom:474.173333pt;}
.y12{bottom:491.040000pt;}
.y2c{bottom:507.133333pt;}
.y31{bottom:517.213333pt;}
.y1a{bottom:536.826667pt;}
.y13{bottom:560.453333pt;}
.y1d{bottom:611.453333pt;}
.y6{bottom:626.493333pt;}
.y1c{bottom:631.106667pt;}
.y30{bottom:643.226667pt;}
.y3{bottom:680.226667pt;}
.y1b{bottom:685.466667pt;}
.h7{height:45.937500pt;}
.h10{height:46.029375pt;}
.hc{height:53.746875pt;}
.hb{height:53.838750pt;}
.h1{height:61.096875pt;}
.hd{height:61.455417pt;}
.h5{height:61.866250pt;}
.h9{height:62.333542pt;}
.he{height:65.578125pt;}
.h6{height:68.906250pt;}
.ha{height:68.998125pt;}
.h3{height:76.715625pt;}
.h4{height:76.807500pt;}
.h15{height:84.065625pt;}
.h8{height:91.875000pt;}
.h14{height:91.966875pt;}
.h12{height:122.653125pt;}
.h11{height:122.745000pt;}
.h2{height:131.243687pt;}
.h13{height:168.590625pt;}
.hf{height:168.682500pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x22{left:25.600000pt;}
.x8{left:38.208000pt;}
.x9{left:44.288000pt;}
.x1{left:47.008000pt;}
.x7{left:48.448000pt;}
.x6{left:49.952000pt;}
.x23{left:61.600000pt;}
.xe{left:66.272000pt;}
.x2{left:72.928000pt;}
.xf{left:101.600000pt;}
.x19{left:126.816000pt;}
.x11{left:149.506667pt;}
.x3{left:160.133333pt;}
.x20{left:272.133333pt;}
.x1f{left:314.306667pt;}
.xb{left:323.520000pt;}
.xc{left:338.146667pt;}
.xd{left:339.840000pt;}
.x1e{left:365.440000pt;}
.x4{left:388.960000pt;}
.x21{left:400.773333pt;}
.x12{left:408.160000pt;}
.x5{left:411.840000pt;}
.xa{left:437.466667pt;}
.x10{left:584.773333pt;}
.x13{left:609.533333pt;}
.x1d{left:693.440000pt;}
.x1b{left:718.466667pt;}
.x18{left:741.346667pt;}
.x1c{left:743.906667pt;}
.x14{left:764.613333pt;}
.x16{left:767.973333pt;}
.x15{left:785.893333pt;}
.x1a{left:791.106667pt;}
.x17{left:827.226667pt;}
}
